<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main bs_notify{business_id==100001?' has_footer':''}" ref="main">
    <div class="bs_notify__item" sn-repeat="item in data">
        <div class="con">
            <p class="name">{item.title}</p>
            <p class="date lh_xs">{util.formatDate(item.send_date,'short')}</p>
            <p class="item fs_m{item.value=='-'?' sp':''}" sn-repeat="item in item.details">
                <span>{item.text}{item.value=='-'?'':'：'}</span>
                <em sn-if="item.value!='-'">{item.value}</em>
            </p>
            <div class="bd_t pt_m mt_m fs_m flex">
                <p class="flexitem">详情</p>
                <p class="gl_arrow_s"></p>
            </div>
        </div>
    </div>
</div>
<footer class="bs_notify__footer pl_m pr_m" sn-if="business_id==100001">
    <button class="btn_l fs_l" sn-tap="this.enterShop()">进入福建移动营业厅</button>
</footer>