<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title" sn-tap="desc=!desc">{title}</div>
</header>
<div class="main bs_notify{hasFooter?' has_footer':''}" ref="main">
    <div class="bs_notify__item" sn-repeat="item in data|orderBy:send_date {desc}" sn-tap="this.goToDetail(item)">
        <div class="con">
            <div sn-if="item.type==-1">
                <div class="flex">
                    <img class="dp_b sqr_m mr_m" sn-src="{sl.thumbnail(business.business_pic)}" />
                    <div class="flexitem">
                        <p class="name">{title}</p>
                        <p class="date">{util.formatDate(item.send_date,'short')}</p>
                    </div>
                </div>
                <p class="pt_m" sn-if="item.image"><img sn-src="item.image" class="dp_b w_x1 mh_90"></p>
                <p class="pt_s">{item.content}</p>
            </div>
            <div sn-else-if="business_id==100001">
                <p class="name">{item.title}</p>
                <p class="date lh_xs">{util.formatDate(item.send_date,'short')}</p>
                <p class="item fs_m{item.value=='-'?' sp':''}" sn-repeat="item in item.details">
                    <span>{item.text}{item.value=='-'?'':'：'}</span>
                    <em sn-if="item.value!='-'">{item.value}</em>
                </p>
            </div>
            <div sn-else-if="business_id==100026">
                <div class="flex mb_m">
                    <img class="dp_b sqr_m mr_m" sn-src="{sl.thumbnail(business.business_pic)}" />
                    <div class="flexitem">
                        <p class="name">{title}</p>
                        <p class="date">{util.formatDate(item.send_date,'short')}</p>
                    </div>
                </div>
                <div class="bs_jubao__con ta_c">
                    <p class="fs_s cl_fff pt_xs">{item.feature.product_name}</p>
                    <p class="fs_xs cl_fff">募集期:{util.formatDate(util.parseDate(item.feature.start_date),'yyyy年MM月dd日HH:mm')}-{util.formatDate(util.parseDate(item.feature.end_date),'yyyy年MM月dd日HH:mm')}</p>
                </div>
                <ul class="bs_jubao__info flex ta_c pt_s">
                    <li class="flexitem">
                        <p class="days">{item.feature.days}</p>
                        <p class="note">期限（天）</p>
                    </li>
                    <li class="flexitem">
                        <p class="days rate"><em>{item.feature.rate}</em>%</p>
                        <p class="note">预计年化收益率</p>
                    </li>
                    <li class="flexitem">
                        <p class="days">{item.feature.risk}%</p>
                        <p class="note">风险等级</p>
                    </li>
                </ul>
                <div class="fs_xs cl_bbb ta_c pt_m">起息日：{util.formatDate(util.parseDate(item.feature.interest_start_date),'yyyy.MM.dd')}（周五）—结息日：{util.formatDate(util.parseDate(item.feature.interest_end_date),'yyyy.MM.dd')}（周五）</div>
            </div>
            <div sn-else>
                <div class="flex">
                    <img class="dp_b sqr_m mr_m" sn-src="{sl.thumbnail(business.business_pic)}" />
                    <div class="flexitem">
                        <p class="name">{title}</p>
                        <p class="date">{util.formatDate(item.send_date,'short')}</p>
                    </div>
                </div>
                <p class="pt_m" sn-if="item.image"><img sn-src="item.image" class="dp_b w_x1 mh_90"></p>
                <p class="pt_s">{item.content}</p>
            </div>
            <div class="bd_t pt_m mt_m fs_m flex">
                <p class="flexitem">{business_id==100001?'详情':'立即查看'}</p>
                <p class="g_arrow_s"></p>
            </div>
        </div>
    </div>
</div>
<footer class="bs_notify__footer pl_m pr_m" sn-if="hasFooter">
    <button sn-if="business_id==100001" class="btn_l fs_l" sn-tap="this.enterShop()">进入福建移动营业厅</button>
    <button sn-else-if="business_id==100026" class="btn_l fs_l" sn-tap="this.enterHjb()">进入和聚宝</button>
    <button sn-else-if="business_id==100022" class="btn_l fs_l" sn-tap="this.enterEnt()">进入娱乐</button>
    <button sn-else-if="business_id==100002" class="btn_l fs_l" sn-tap="this.enterQz()">进入12580海西求职平台</button>
    <button sn-else-if="business_id==100003" class="btn_l fs_l" sn-tap="this.enterSc()">进入12580商城</button>
    <button sn-else-if="business_id==100004" class="btn_l fs_l" sn-tap="this.enterWaterBill()">进入应用</button>
    <button sn-else-if="business_id==100005" class="btn_l fs_l" sn-tap="this.enterElecBill()">进入应用</button>
    <button sn-else-if="business_id==100043" class="btn_l fs_l" sn-tap="this.enterMail139()">进入139邮箱</button>
    <button sn-else-if="business_id==100045" class="btn_l fs_l" sn-tap="this.enterHLY()">进入和留言</button>
    <button sn-else-if="business_id==100046" class="btn_l fs_l" sn-tap="this.enterHDH()">进入和多号</button>
</footer>