@use "widget/tab" as tab;
<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main bs_service" ref="main">
    <div sn-require="widget/tab" sn-data="{{items:['生活服务','通信服务']}}">

        <div class="pt_1">
            <ul class="bs_service__list bd_t">
                <li class="bs_service__item bd_br flex jc_c fd_c" sn-repeat="item in lifes" sn-tap="delegate.openUrl(item.linkurl)">
                    <i class="unread" sn-if="item.unread">+{item.unread}</i>
                    <img sn-src="{sl.thumbnail(item.image)}" class="cir_m" />
                    <div class="mt_s fs_m">{item.title}</div>
                </li>
            </ul>
        </div>

        <div class="pt_1">
            <ul class="bs_service__list bd_t">
                <li class="bs_service__item bd_br flex jc_c fd_c" sn-repeat="item in services" sn-tap="delegate.openUrl(item.linkurl)">
                    <i class="unread" sn-if="item.unread">+{item.unread}</i>
                    <img sn-src="{sl.thumbnail(item.image)}" class="cir_m" />
                    <div class="mt_s fs_m">{item.title}</div>
                </li>
            </ul>
        </div>
    </div>
</div>