<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main" ref="main">
    <div class="h_m flex bg_fff pl_m pr_m fs_s fw_s bd_b">
        <div class="flexitem cl_999">缴费账户</div>
        <a href="javascript:;" class="cl_999" sn-tap="edit=!edit">{edit?'取消':''}编辑</a>
    </div>
    <div class="bg_fff">
        <div class="flex h_l ml_m pl_m bd_b icon-water" sn-repeat="item,i in waterData" data-forward="{item.ubid?'/life/seebill/'+item.ubid+'?bid='+item.business_id:('/life/addbill/'+item.business_id)}">
            <div class="ml_m fs_m flexitem">
                <p>水费</p>
                <p class="cl_999 fs_s">{item.user_code}</p>
            </div>
            <div class="cl_ccc g_arrow_s pr_xl fs_s fw_s" sn-if="!edit"><span sn-if="!item.ubid">可添加</span></div>
            <div class="pr_m fs_s fw_s" sn-else-if="item.ubid&&edit">
                <a href="javascript:;" class="cl_app mr_m" sn-tap="this.delete(item)">删除</a>
                <a href="javascript:;" class="cl_app mr_m" sn-tap="this.modify(item)">修改</a>
            </div>
        </div>
        <div class="flex h_l ml_m pl_m bd_b icon-elec" sn-repeat="item,i in elecData" data-forward="{item.ubid?'/life/seebill/'+item.ubid+'?bid='+item.business_id:('/life/addbill/'+item.business_id)}">
            <div class="ml_m fs_m flexitem">
                <p>电费</p>
                <p class="cl_999 fs_s">{item.user_code}</p>
            </div>
            <div class="cl_ccc g_arrow_s pr_xl fs_s fw_s" sn-if="!edit"><span sn-if="!item.ubid">可添加</span></div>
            <div class="pr_m fs_s fw_s" sn-else-if="item.ubid&&edit">
                <a href="javascript:;" class="cl_app mr_m" sn-tap="this.delete(item)">删除</a>
                <a href="javascript:;" class="cl_app mr_m" sn-tap="this.modify(item)">修改</a></div>
        </div>
    </div>
    <div class="pt_l ta_c">
        <a class="cl_app fs_m" sn-tap="this.more()">更多缴费</a>
    </div>
</div>