<header class="flex">
    <div class="head_back ps_r" sn-tap="this.back()"></div>
    <div class="flexitem flex lf_notice__search" data-forward="/life/search_notice">
        <div class="icon-search sqr_s"></div>
        <p class="fs_m pt_1 dp_b cl_ccc">搜索：活动、业务、生活</p>
    </div>
    <div class="sqr_44 icon-edit">
    </div>
</header>
<div class="main" ref="main">
    <div class="bg_fff pb_m bd_b">
        <div class="lh_bar fs_m ml_m mr_m bd_b cl_666 mb_m">提醒标签</div>
        <ul class="lf_notice__tags of_h">
            <li class="fl_l mb_m ml_m g_tag" sn-repeat="tag in tags">{tag.tag_name}</li>
        </ul>
    </div>
    <div class="pt_m flex ta_c lf_notice__tab">
        <p class="lf_notice__tab_title flex_0{tab==0?' curr':''}">移动业务提醒</p>
        <p class="lf_notice__tab_title flex_0{tab==1?' curr':''}">生活服务提醒</p>
    </div>
    <ul class="lf_notice__tab_con bg_fff bd_t" sn-if="tab==0">
        <li class="flex lh_m h_m bd_b" sn-repeat="item in bisNoticeList">
            <a href="javascript:;" class="flex_0 pl_m">{item.title}</a>
            <i class="icon-tag"></i>
        </li>
    </ul>
    <ul class="lf_notice__tab_con bg_fff bd_t" sn-if="tab==1">
        <li class="flex lh_m h_m bd_b" sn-repeat="item in bisNoticeList">
            <a href="javascript:;" class="flex_0 pl_m">{item.title}</a>
            <i class="icon-tag"></i>
        </li>
    </ul>
</div>