<header class="flex">
    <form ref="searchform" class="ml_m flexitem flex hm_quan__search">
        <div class="icon-search sqr_s"></div>
        <input type="search" sn-model="search" ref="search" class="flexitem fs_m" placeholder="搜索：活动、业务、生活" />
    </form>
    <button class="h_bar pl_m pr_m bg_fff fs_m" sn-tap="this.back()">取消</button>
</header>
<div class="main" ref="main">
    <ul class="lf_notice__tab_con bg_fff bd_t">
        <li class="flex lh_m h_m bd_b" sn-repeat="item in searchResult">
            <a href="javascript:;" class="flex_0 pl_m">{item.title}</a>
            <i class="icon-tag"></i>
        </li>
    </ul>
   
</div>