<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main" ref="main">
    <div class="flex icon-{business_id==100004?'water2':'elec2'} pt_l pl_m pb_m bg_fff bd_b">
        <p class="pl_s">{business_id==100004?'水费':'电费'}</p>
    </div>
    <div sn-if="data&&data.PAYAMT" class="flex_t pd_m bg_fff">
        <p class="fs_m flexitem">上月欠费</p>
        <p class="fs_xxl">{parseInt(data.PAYAMT)/100}</p>
    </div>
    <div class="pt_m pr_m pl_m bg_fff flex">
        <p class="fs_m flexitem cl_999">缴费单位</p>
        <p class="fs_m cl_999">{unit}</p>
    </div>
    <div class="pt_s pr_m pl_m bg_fff flex">
        <p class="fs_m flexitem cl_999">缴费户号</p>
        <p class="fs_m cl_999">{account.user_code}</p>
    </div>
    <div class="pt_s pr_m pl_m pb_m bg_fff flex">
        <p class="fs_m flexitem cl_999">家庭</p>
        <p class="fs_m cl_999">{account.memo}</p>
    </div>
    <div class="ta_c pt_xxl cl_999 fs_m" sn-if="!data&&!data.PAYAMT">暂无欠费</div>
</div>