.sp_list_item .price del { font-size: 12px; }
.sp_all_catelist_subcate_item span { font-size: 12px; height: 14px; overflow: hidden; display: block; }
.ct_coupon_list li .price { font-size: 55px; }
.ct_coupon_list li .name { font-size: 14px; }