.icon-bill:before,.icon-comment:before,.icon-camera_fff:before,.icon-comment2:before,.icon-closeye:before,.icon-heart:before,.icon-ent:before,.icon-camera:before,.icon-good:before,.icon-life:before,.icon-info:before,.icon-newfriend:before,.icon-person2:before,.icon-msg:before,.icon-person:before,.icon-person3:before,.icon-quan_curr:before,.icon-search:before,.icon-scan:before,.icon-see:before{background-image: url("../images/sprite-icon.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 25px 363px;}
.icon-bill-rem:before,.icon-comment-rem:before,.icon-camera_fff-rem:before,.icon-comment2-rem:before,.icon-closeye-rem:before,.icon-heart-rem:before,.icon-ent-rem:before,.icon-camera-rem:before,.icon-good-rem:before,.icon-life-rem:before,.icon-info-rem:before,.icon-newfriend-rem:before,.icon-person2-rem:before,.icon-msg-rem:before,.icon-person-rem:before,.icon-person3-rem:before,.icon-quan_curr-rem:before,.icon-search-rem:before,.icon-scan-rem:before,.icon-see-rem:before{background-image: url("../images/sprite-icon.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 0.25rem 3.63rem;}
.icon-bill:before{background-position: -0px -0px; width: 21px; height: 25px;}
.icon-bill-rem:before{background-position: -0rem -0rem; width: 0.21rem; height: 0.25rem;}
.icon-comment:before{background-position: -0px -25px; width: 13px; height: 12px;}
.icon-comment-rem:before{background-position: -0rem -0.25rem; width: 0.13rem; height: 0.12rem;}
.icon-camera_fff:before{background-position: -0px -37px; width: 25px; height: 22px;}
.icon-camera_fff-rem:before{background-position: -0rem -0.37rem; width: 0.25rem; height: 0.22rem;}
.icon-comment2:before{background-position: -0px -59px; width: 18px; height: 14px;}
.icon-comment2-rem:before{background-position: -0rem -0.59rem; width: 0.18rem; height: 0.14rem;}
.icon-closeye:before{background-position: -0px -73px; width: 18px; height: 10px;}
.icon-closeye-rem:before{background-position: -0rem -0.73rem; width: 0.18rem; height: 0.1rem;}
.icon-heart:before{background-position: -0px -83px; width: 16px; height: 15px;}
.icon-heart-rem:before{background-position: -0rem -0.83rem; width: 0.16rem; height: 0.15rem;}
.icon-ent:before{background-position: -0px -98px; width: 23px; height: 17px;}
.icon-ent-rem:before{background-position: -0rem -0.98rem; width: 0.23rem; height: 0.17rem;}
.icon-camera:before{background-position: -0px -115px; width: 25px; height: 22px;}
.icon-camera-rem:before{background-position: -0rem -1.15rem; width: 0.25rem; height: 0.22rem;}
.icon-good:before{background-position: -0px -137px; width: 14px; height: 14px;}
.icon-good-rem:before{background-position: -0rem -1.37rem; width: 0.14rem; height: 0.14rem;}
.icon-life:before{background-position: -0px -151px; width: 24px; height: 19px;}
.icon-life-rem:before{background-position: -0rem -1.51rem; width: 0.24rem; height: 0.19rem;}
.icon-info:before{background-position: -0px -170px; width: 21px; height: 21px;}
.icon-info-rem:before{background-position: -0rem -1.7rem; width: 0.21rem; height: 0.21rem;}
.icon-newfriend:before{background-position: -0px -191px; width: 19px; height: 19px;}
.icon-newfriend-rem:before{background-position: -0rem -1.91rem; width: 0.19rem; height: 0.19rem;}
.icon-person2:before{background-position: -0px -210px; width: 16px; height: 19px;}
.icon-person2-rem:before{background-position: -0rem -2.1rem; width: 0.16rem; height: 0.19rem;}
.icon-msg:before{background-position: -0px -229px; width: 20px; height: 20px;}
.icon-msg-rem:before{background-position: -0rem -2.29rem; width: 0.2rem; height: 0.2rem;}
.icon-person:before{background-position: -0px -249px; width: 17px; height: 20px;}
.icon-person-rem:before{background-position: -0rem -2.49rem; width: 0.17rem; height: 0.2rem;}
.icon-person3:before{background-position: -0px -269px; width: 21px; height: 21px;}
.icon-person3-rem:before{background-position: -0rem -2.69rem; width: 0.21rem; height: 0.21rem;}
.icon-quan_curr:before{background-position: -0px -290px; width: 24px; height: 24px;}
.icon-quan_curr-rem:before{background-position: -0rem -2.9rem; width: 0.24rem; height: 0.24rem;}
.icon-search:before{background-position: -0px -314px; width: 16px; height: 16px;}
.icon-search-rem:before{background-position: -0rem -3.14rem; width: 0.16rem; height: 0.16rem;}
.icon-scan:before{background-position: -0px -330px; width: 22px; height: 22px;}
.icon-scan-rem:before{background-position: -0rem -3.3rem; width: 0.22rem; height: 0.22rem;}
.icon-see:before{background-position: -0px -352px; width: 16px; height: 11px;}
.icon-see-rem:before{background-position: -0rem -3.52rem; width: 0.16rem; height: 0.11rem;}
