@import "global.scss";

//登录注册
.uc_login__form { background-color: #fff; }
.uc_login__form li { height: 40px; }

.uc_signup__form { margin-top: 40px; background-color: #fff; }
.uc_signup__form li { height: 40px; }

.uc_licence { bottom: 55px; }
.uc_licence__ft { bottom: 5px; }

//首页
.home { margin-bottom: 48px; padding-bottom: 10px; }