.l-abs_x:before,.l-abs_l:before,.l-abs_card:before,.l-free:before,.l-free_white:before,.l-gift_1:before,.l-gift_white:before,.l-money:before,.l-overdue:before{background-image: url("../images/sprite-l.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 107px 604px;}
.l-abs_x-rem:before,.l-abs_l-rem:before,.l-abs_card-rem:before,.l-free-rem:before,.l-free_white-rem:before,.l-gift_1-rem:before,.l-gift_white-rem:before,.l-money-rem:before,.l-overdue-rem:before{background-image: url("../images/sprite-l.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 1.07rem 6.04rem;}
.l-abs_x:before{background-position: -0px -0px; width: 107px; height: 42px;}
.l-abs_x-rem:before{background-position: -0rem -0rem; width: 1.07rem; height: 0.42rem;}
.l-abs_l:before{background-position: -0px -42px; width: 51px; height: 21px;}
.l-abs_l-rem:before{background-position: -0rem -0.42rem; width: 0.51rem; height: 0.21rem;}
.l-abs_card:before{background-position: -0px -63px; width: 100px; height: 113px;}
.l-abs_card-rem:before{background-position: -0rem -0.63rem; width: 1rem; height: 1.13rem;}
.l-free:before{background-position: -0px -176px; width: 83px; height: 59px;}
.l-free-rem:before{background-position: -0rem -1.76rem; width: 0.83rem; height: 0.59rem;}
.l-free_white:before{background-position: -0px -235px; width: 83px; height: 59px;}
.l-free_white-rem:before{background-position: -0rem -2.35rem; width: 0.83rem; height: 0.59rem;}
.l-gift_1:before{background-position: -0px -294px; width: 71px; height: 62px;}
.l-gift_1-rem:before{background-position: -0rem -2.94rem; width: 0.71rem; height: 0.62rem;}
.l-gift_white:before{background-position: -0px -356px; width: 71px; height: 63px;}
.l-gift_white-rem:before{background-position: -0rem -3.56rem; width: 0.71rem; height: 0.63rem;}
.l-money:before{background-position: -0px -419px; width: 44px; height: 83px;}
.l-money-rem:before{background-position: -0rem -4.19rem; width: 0.44rem; height: 0.83rem;}
.l-overdue:before{background-position: -0px -502px; width: 102px; height: 102px;}
.l-overdue-rem:before{background-position: -0rem -5.02rem; width: 1.02rem; height: 1.02rem;}
.icon-abs:before,.icon-alipay:before,.icon-cart:before,.icon-cart_dark:before,.icon-cart_cur:before,.icon-camera:before,.icon-cart_light:before,.icon-couponline:before,.icon-cmcc:before,.icon-del:before,.icon-group:before,.icon-flash:before,.icon-has:before,.icon-home:before,.icon-home_cur:before,.icon-life:before,.icon-list:before,.icon-menu:before,.icon-loc:before,.icon-life_cur:before,.icon-location:before,.icon-menu_cur:before,.icon-person_cur:before,.icon-new:before,.icon-person:before,.icon-plus:before,.icon-message:before,.icon-navhot:before,.icon-reset:before,.icon-right:before,.icon-right3:before,.icon-search:before,.icon-setting:before,.icon-share_dark:before,.icon-shop:before,.icon-right2:before,.icon-share:before,.icon-weipay:before,.icon-tel_dark:before,.icon-wrong:before,.icon-tel_color:before,.icon-tel:before{background-image: url("../images/sprite-icon.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 35px 958px;}
.icon-abs-rem:before,.icon-alipay-rem:before,.icon-cart-rem:before,.icon-cart_dark-rem:before,.icon-cart_cur-rem:before,.icon-camera-rem:before,.icon-cart_light-rem:before,.icon-couponline-rem:before,.icon-cmcc-rem:before,.icon-del-rem:before,.icon-group-rem:before,.icon-flash-rem:before,.icon-has-rem:before,.icon-home-rem:before,.icon-home_cur-rem:before,.icon-life-rem:before,.icon-list-rem:before,.icon-menu-rem:before,.icon-loc-rem:before,.icon-life_cur-rem:before,.icon-location-rem:before,.icon-menu_cur-rem:before,.icon-person_cur-rem:before,.icon-new-rem:before,.icon-person-rem:before,.icon-plus-rem:before,.icon-message-rem:before,.icon-navhot-rem:before,.icon-reset-rem:before,.icon-right-rem:before,.icon-right3-rem:before,.icon-search-rem:before,.icon-setting-rem:before,.icon-share_dark-rem:before,.icon-shop-rem:before,.icon-right2-rem:before,.icon-share-rem:before,.icon-weipay-rem:before,.icon-tel_dark-rem:before,.icon-wrong-rem:before,.icon-tel_color-rem:before,.icon-tel-rem:before{background-image: url("../images/sprite-icon.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 0.35rem 9.58rem;}
.icon-abs:before{background-position: -0px -0px; width: 25px; height: 11px;}
.icon-abs-rem:before{background-position: -0rem -0rem; width: 0.25rem; height: 0.11rem;}
.icon-alipay:before{background-position: -0px -11px; width: 24px; height: 22px;}
.icon-alipay-rem:before{background-position: -0rem -0.11rem; width: 0.24rem; height: 0.22rem;}
.icon-cart:before{background-position: -0px -33px; width: 24px; height: 21px;}
.icon-cart-rem:before{background-position: -0rem -0.33rem; width: 0.24rem; height: 0.21rem;}
.icon-cart_dark:before{background-position: -0px -54px; width: 26px; height: 23px;}
.icon-cart_dark-rem:before{background-position: -0rem -0.54rem; width: 0.26rem; height: 0.23rem;}
.icon-cart_cur:before{background-position: -0px -77px; width: 24px; height: 22px;}
.icon-cart_cur-rem:before{background-position: -0rem -0.77rem; width: 0.24rem; height: 0.22rem;}
.icon-camera:before{background-position: -0px -99px; width: 22px; height: 19px;}
.icon-camera-rem:before{background-position: -0rem -0.99rem; width: 0.22rem; height: 0.19rem;}
.icon-cart_light:before{background-position: -0px -118px; width: 26px; height: 23px;}
.icon-cart_light-rem:before{background-position: -0rem -1.18rem; width: 0.26rem; height: 0.23rem;}
.icon-couponline:before{background-position: -0px -141px; width: 25px; height: 128px;}
.icon-couponline-rem:before{background-position: -0rem -1.41rem; width: 0.25rem; height: 1.28rem;}
.icon-cmcc:before{background-position: -0px -269px; width: 22px; height: 22px;}
.icon-cmcc-rem:before{background-position: -0rem -2.69rem; width: 0.22rem; height: 0.22rem;}
.icon-del:before{background-position: -0px -291px; width: 19px; height: 20px;}
.icon-del-rem:before{background-position: -0rem -2.91rem; width: 0.19rem; height: 0.2rem;}
.icon-group:before{background-position: -0px -311px; width: 27px; height: 25px;}
.icon-group-rem:before{background-position: -0rem -3.11rem; width: 0.27rem; height: 0.25rem;}
.icon-flash:before{background-position: -0px -336px; width: 26px; height: 25px;}
.icon-flash-rem:before{background-position: -0rem -3.36rem; width: 0.26rem; height: 0.25rem;}
.icon-has:before{background-position: -0px -361px; width: 14px; height: 14px;}
.icon-has-rem:before{background-position: -0rem -3.61rem; width: 0.14rem; height: 0.14rem;}
.icon-home:before{background-position: -0px -375px; width: 24px; height: 21px;}
.icon-home-rem:before{background-position: -0rem -3.75rem; width: 0.24rem; height: 0.21rem;}
.icon-home_cur:before{background-position: -0px -396px; width: 24px; height: 21px;}
.icon-home_cur-rem:before{background-position: -0rem -3.96rem; width: 0.24rem; height: 0.21rem;}
.icon-life:before{background-position: -0px -417px; width: 25px; height: 21px;}
.icon-life-rem:before{background-position: -0rem -4.17rem; width: 0.25rem; height: 0.21rem;}
.icon-list:before{background-position: -0px -438px; width: 17px; height: 14px;}
.icon-list-rem:before{background-position: -0rem -4.38rem; width: 0.17rem; height: 0.14rem;}
.icon-menu:before{background-position: -0px -452px; width: 18px; height: 18px;}
.icon-menu-rem:before{background-position: -0rem -4.52rem; width: 0.18rem; height: 0.18rem;}
.icon-loc:before{background-position: -0px -470px; width: 16px; height: 23px;}
.icon-loc-rem:before{background-position: -0rem -4.7rem; width: 0.16rem; height: 0.23rem;}
.icon-life_cur:before{background-position: -0px -493px; width: 25px; height: 21px;}
.icon-life_cur-rem:before{background-position: -0rem -4.93rem; width: 0.25rem; height: 0.21rem;}
.icon-location:before{background-position: -0px -514px; width: 17px; height: 23px;}
.icon-location-rem:before{background-position: -0rem -5.14rem; width: 0.17rem; height: 0.23rem;}
.icon-menu_cur:before{background-position: -0px -537px; width: 18px; height: 18px;}
.icon-menu_cur-rem:before{background-position: -0rem -5.37rem; width: 0.18rem; height: 0.18rem;}
.icon-person_cur:before{background-position: -0px -555px; width: 22px; height: 20px;}
.icon-person_cur-rem:before{background-position: -0rem -5.55rem; width: 0.22rem; height: 0.2rem;}
.icon-new:before{background-position: -0px -575px; width: 35px; height: 15px;}
.icon-new-rem:before{background-position: -0rem -5.75rem; width: 0.35rem; height: 0.15rem;}
.icon-person:before{background-position: -0px -590px; width: 22px; height: 20px;}
.icon-person-rem:before{background-position: -0rem -5.9rem; width: 0.22rem; height: 0.2rem;}
.icon-plus:before{background-position: -0px -610px; width: 20px; height: 20px;}
.icon-plus-rem:before{background-position: -0rem -6.1rem; width: 0.2rem; height: 0.2rem;}
.icon-message:before{background-position: -0px -630px; width: 22px; height: 20px;}
.icon-message-rem:before{background-position: -0rem -6.3rem; width: 0.22rem; height: 0.2rem;}
.icon-navhot:before{background-position: -0px -650px; width: 23px; height: 32px;}
.icon-navhot-rem:before{background-position: -0rem -6.5rem; width: 0.23rem; height: 0.32rem;}
.icon-reset:before{background-position: -0px -682px; width: 17px; height: 17px;}
.icon-reset-rem:before{background-position: -0rem -6.82rem; width: 0.17rem; height: 0.17rem;}
.icon-right:before{background-position: -0px -699px; width: 33px; height: 23px;}
.icon-right-rem:before{background-position: -0rem -6.99rem; width: 0.33rem; height: 0.23rem;}
.icon-right3:before{background-position: -0px -722px; width: 20px; height: 20px;}
.icon-right3-rem:before{background-position: -0rem -7.22rem; width: 0.2rem; height: 0.2rem;}
.icon-search:before{background-position: -0px -742px; width: 17px; height: 17px;}
.icon-search-rem:before{background-position: -0rem -7.42rem; width: 0.17rem; height: 0.17rem;}
.icon-setting:before{background-position: -0px -759px; width: 20px; height: 20px;}
.icon-setting-rem:before{background-position: -0rem -7.59rem; width: 0.2rem; height: 0.2rem;}
.icon-share_dark:before{background-position: -0px -779px; width: 20px; height: 23px;}
.icon-share_dark-rem:before{background-position: -0rem -7.79rem; width: 0.2rem; height: 0.23rem;}
.icon-shop:before{background-position: -0px -802px; width: 17px; height: 15px;}
.icon-shop-rem:before{background-position: -0rem -8.02rem; width: 0.17rem; height: 0.15rem;}
.icon-right2:before{background-position: -0px -817px; width: 17px; height: 14px;}
.icon-right2-rem:before{background-position: -0rem -8.17rem; width: 0.17rem; height: 0.14rem;}
.icon-share:before{background-position: -0px -831px; width: 20px; height: 23px;}
.icon-share-rem:before{background-position: -0rem -8.31rem; width: 0.2rem; height: 0.23rem;}
.icon-weipay:before{background-position: -0px -854px; width: 22px; height: 20px;}
.icon-weipay-rem:before{background-position: -0rem -8.54rem; width: 0.22rem; height: 0.2rem;}
.icon-tel_dark:before{background-position: -0px -874px; width: 20px; height: 20px;}
.icon-tel_dark-rem:before{background-position: -0rem -8.74rem; width: 0.2rem; height: 0.2rem;}
.icon-wrong:before{background-position: -0px -894px; width: 26px; height: 26px;}
.icon-wrong-rem:before{background-position: -0rem -8.94rem; width: 0.26rem; height: 0.26rem;}
.icon-tel_color:before{background-position: -0px -920px; width: 18px; height: 18px;}
.icon-tel_color-rem:before{background-position: -0rem -9.2rem; width: 0.18rem; height: 0.18rem;}
.icon-tel:before{background-position: -0px -938px; width: 20px; height: 20px;}
.icon-tel-rem:before{background-position: -0rem -9.38rem; width: 0.2rem; height: 0.2rem;}
.user-gift:before,.user-group:before,.user-money:before,.user-order:before,.user-send:before,.user-unpay:before,.user-unsend:before,.user-card:before,.user-complete:before{background-image: url("../images/sprite-user.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 27px 212px;}
.user-gift-rem:before,.user-group-rem:before,.user-money-rem:before,.user-order-rem:before,.user-send-rem:before,.user-unpay-rem:before,.user-unsend-rem:before,.user-card-rem:before,.user-complete-rem:before{background-image: url("../images/sprite-user.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 0.27rem 2.12rem;}
.user-gift:before{background-position: -0px -0px; width: 27px; height: 27px;}
.user-gift-rem:before{background-position: -0rem -0rem; width: 0.27rem; height: 0.27rem;}
.user-group:before{background-position: -0px -27px; width: 27px; height: 27px;}
.user-group-rem:before{background-position: -0rem -0.27rem; width: 0.27rem; height: 0.27rem;}
.user-money:before{background-position: -0px -54px; width: 27px; height: 27px;}
.user-money-rem:before{background-position: -0rem -0.54rem; width: 0.27rem; height: 0.27rem;}
.user-order:before{background-position: -0px -81px; width: 14px; height: 15px;}
.user-order-rem:before{background-position: -0rem -0.81rem; width: 0.14rem; height: 0.15rem;}
.user-send:before{background-position: -0px -96px; width: 24px; height: 22px;}
.user-send-rem:before{background-position: -0rem -0.96rem; width: 0.24rem; height: 0.22rem;}
.user-unpay:before{background-position: -0px -118px; width: 24px; height: 22px;}
.user-unpay-rem:before{background-position: -0rem -1.18rem; width: 0.24rem; height: 0.22rem;}
.user-unsend:before{background-position: -0px -140px; width: 25px; height: 23px;}
.user-unsend-rem:before{background-position: -0rem -1.4rem; width: 0.25rem; height: 0.23rem;}
.user-card:before{background-position: -0px -163px; width: 27px; height: 27px;}
.user-card-rem:before{background-position: -0rem -1.63rem; width: 0.27rem; height: 0.27rem;}
.user-complete:before{background-position: -0px -190px; width: 22px; height: 22px;}
.user-complete-rem:before{background-position: -0rem -1.9rem; width: 0.22rem; height: 0.22rem;}
