.l-abs_card:before,.l-abs_l:before,.l-abs_x:before,.l-free:before,.l-free_white:before,.l-gift_1:before,.l-gift_white:before,.l-money:before,.l-overdue:before{background-image: url("../images/sprite-l.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 106px 595px;}
.l-abs_card-rem:before,.l-abs_l-rem:before,.l-abs_x-rem:before,.l-free-rem:before,.l-free_white-rem:before,.l-gift_1-rem:before,.l-gift_white-rem:before,.l-money-rem:before,.l-overdue-rem:before{background-image: url("../images/sprite-l.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 1.06rem 5.95rem;}
.l-abs_card:before{background-position: -0px -0px; width: 99px; height: 112px;}
.l-abs_card-rem:before{background-position: -0rem -0rem; width: 0.99rem; height: 1.12rem;}
.l-abs_l:before{background-position: -0px -112px; width: 50px; height: 20px;}
.l-abs_l-rem:before{background-position: -0rem -1.12rem; width: 0.5rem; height: 0.2rem;}
.l-abs_x:before{background-position: -0px -132px; width: 106px; height: 41px;}
.l-abs_x-rem:before{background-position: -0rem -1.32rem; width: 1.06rem; height: 0.41rem;}
.l-free:before{background-position: -0px -173px; width: 82px; height: 58px;}
.l-free-rem:before{background-position: -0rem -1.73rem; width: 0.82rem; height: 0.58rem;}
.l-free_white:before{background-position: -0px -231px; width: 82px; height: 58px;}
.l-free_white-rem:before{background-position: -0rem -2.31rem; width: 0.82rem; height: 0.58rem;}
.l-gift_1:before{background-position: -0px -289px; width: 70px; height: 61px;}
.l-gift_1-rem:before{background-position: -0rem -2.89rem; width: 0.7rem; height: 0.61rem;}
.l-gift_white:before{background-position: -0px -350px; width: 70px; height: 62px;}
.l-gift_white-rem:before{background-position: -0rem -3.5rem; width: 0.7rem; height: 0.62rem;}
.l-money:before{background-position: -0px -412px; width: 43px; height: 82px;}
.l-money-rem:before{background-position: -0rem -4.12rem; width: 0.43rem; height: 0.82rem;}
.l-overdue:before{background-position: -0px -494px; width: 101px; height: 101px;}
.l-overdue-rem:before{background-position: -0rem -4.94rem; width: 1.01rem; height: 1.01rem;}
.icon-abs:before,.icon-camera:before,.icon-cart:before,.icon-cart_cur:before,.icon-cart_dark:before,.icon-cart_light:before,.icon-couponline:before,.icon-del:before,.icon-flash:before,.icon-group:before,.icon-home:before,.icon-home_cur:before,.icon-life:before,.icon-life_cur:before,.icon-location:before,.icon-menu:before,.icon-menu_cur:before,.icon-message:before,.icon-navhot:before,.icon-new:before,.icon-person:before,.icon-person_cur:before,.icon-plus:before,.icon-right:before,.icon-search:before,.icon-setting:before,.icon-share:before,.icon-share_dark:before,.icon-tel:before,.icon-tel_dark:before,.icon-wrong:before{background-image: url("../images/sprite-icon.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 34px 728px;}
.icon-abs-rem:before,.icon-camera-rem:before,.icon-cart-rem:before,.icon-cart_cur-rem:before,.icon-cart_dark-rem:before,.icon-cart_light-rem:before,.icon-couponline-rem:before,.icon-del-rem:before,.icon-flash-rem:before,.icon-group-rem:before,.icon-home-rem:before,.icon-home_cur-rem:before,.icon-life-rem:before,.icon-life_cur-rem:before,.icon-location-rem:before,.icon-menu-rem:before,.icon-menu_cur-rem:before,.icon-message-rem:before,.icon-navhot-rem:before,.icon-new-rem:before,.icon-person-rem:before,.icon-person_cur-rem:before,.icon-plus-rem:before,.icon-right-rem:before,.icon-search-rem:before,.icon-setting-rem:before,.icon-share-rem:before,.icon-share_dark-rem:before,.icon-tel-rem:before,.icon-tel_dark-rem:before,.icon-wrong-rem:before{background-image: url("../images/sprite-icon.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 0.34rem 7.28rem;}
.icon-abs:before{background-position: -0px -0px; width: 24px; height: 10px;}
.icon-abs-rem:before{background-position: -0rem -0rem; width: 0.24rem; height: 0.1rem;}
.icon-camera:before{background-position: -0px -10px; width: 21px; height: 18px;}
.icon-camera-rem:before{background-position: -0rem -0.1rem; width: 0.21rem; height: 0.18rem;}
.icon-cart:before{background-position: -0px -28px; width: 23px; height: 20px;}
.icon-cart-rem:before{background-position: -0rem -0.28rem; width: 0.23rem; height: 0.2rem;}
.icon-cart_cur:before{background-position: -0px -48px; width: 23px; height: 21px;}
.icon-cart_cur-rem:before{background-position: -0rem -0.48rem; width: 0.23rem; height: 0.21rem;}
.icon-cart_dark:before{background-position: -0px -69px; width: 25px; height: 22px;}
.icon-cart_dark-rem:before{background-position: -0rem -0.69rem; width: 0.25rem; height: 0.22rem;}
.icon-cart_light:before{background-position: -0px -91px; width: 25px; height: 22px;}
.icon-cart_light-rem:before{background-position: -0rem -0.91rem; width: 0.25rem; height: 0.22rem;}
.icon-couponline:before{background-position: -0px -113px; width: 24px; height: 127px;}
.icon-couponline-rem:before{background-position: -0rem -1.13rem; width: 0.24rem; height: 1.27rem;}
.icon-del:before{background-position: -0px -240px; width: 18px; height: 19px;}
.icon-del-rem:before{background-position: -0rem -2.4rem; width: 0.18rem; height: 0.19rem;}
.icon-flash:before{background-position: -0px -259px; width: 25px; height: 24px;}
.icon-flash-rem:before{background-position: -0rem -2.59rem; width: 0.25rem; height: 0.24rem;}
.icon-group:before{background-position: -0px -283px; width: 26px; height: 24px;}
.icon-group-rem:before{background-position: -0rem -2.83rem; width: 0.26rem; height: 0.24rem;}
.icon-home:before{background-position: -0px -307px; width: 23px; height: 20px;}
.icon-home-rem:before{background-position: -0rem -3.07rem; width: 0.23rem; height: 0.2rem;}
.icon-home_cur:before{background-position: -0px -327px; width: 23px; height: 20px;}
.icon-home_cur-rem:before{background-position: -0rem -3.27rem; width: 0.23rem; height: 0.2rem;}
.icon-life:before{background-position: -0px -347px; width: 24px; height: 20px;}
.icon-life-rem:before{background-position: -0rem -3.47rem; width: 0.24rem; height: 0.2rem;}
.icon-life_cur:before{background-position: -0px -367px; width: 24px; height: 20px;}
.icon-life_cur-rem:before{background-position: -0rem -3.67rem; width: 0.24rem; height: 0.2rem;}
.icon-location:before{background-position: -0px -387px; width: 16px; height: 22px;}
.icon-location-rem:before{background-position: -0rem -3.87rem; width: 0.16rem; height: 0.22rem;}
.icon-menu:before{background-position: -0px -409px; width: 17px; height: 17px;}
.icon-menu-rem:before{background-position: -0rem -4.09rem; width: 0.17rem; height: 0.17rem;}
.icon-menu_cur:before{background-position: -0px -426px; width: 17px; height: 17px;}
.icon-menu_cur-rem:before{background-position: -0rem -4.26rem; width: 0.17rem; height: 0.17rem;}
.icon-message:before{background-position: -0px -443px; width: 21px; height: 19px;}
.icon-message-rem:before{background-position: -0rem -4.43rem; width: 0.21rem; height: 0.19rem;}
.icon-navhot:before{background-position: -0px -462px; width: 22px; height: 31px;}
.icon-navhot-rem:before{background-position: -0rem -4.62rem; width: 0.22rem; height: 0.31rem;}
.icon-new:before{background-position: -0px -493px; width: 34px; height: 14px;}
.icon-new-rem:before{background-position: -0rem -4.93rem; width: 0.34rem; height: 0.14rem;}
.icon-person:before{background-position: -0px -507px; width: 21px; height: 19px;}
.icon-person-rem:before{background-position: -0rem -5.07rem; width: 0.21rem; height: 0.19rem;}
.icon-person_cur:before{background-position: -0px -526px; width: 21px; height: 19px;}
.icon-person_cur-rem:before{background-position: -0rem -5.26rem; width: 0.21rem; height: 0.19rem;}
.icon-plus:before{background-position: -0px -545px; width: 19px; height: 19px;}
.icon-plus-rem:before{background-position: -0rem -5.45rem; width: 0.19rem; height: 0.19rem;}
.icon-right:before{background-position: -0px -564px; width: 32px; height: 22px;}
.icon-right-rem:before{background-position: -0rem -5.64rem; width: 0.32rem; height: 0.22rem;}
.icon-search:before{background-position: -0px -586px; width: 16px; height: 16px;}
.icon-search-rem:before{background-position: -0rem -5.86rem; width: 0.16rem; height: 0.16rem;}
.icon-setting:before{background-position: -0px -602px; width: 19px; height: 19px;}
.icon-setting-rem:before{background-position: -0rem -6.02rem; width: 0.19rem; height: 0.19rem;}
.icon-share:before{background-position: -0px -621px; width: 19px; height: 22px;}
.icon-share-rem:before{background-position: -0rem -6.21rem; width: 0.19rem; height: 0.22rem;}
.icon-share_dark:before{background-position: -0px -643px; width: 19px; height: 22px;}
.icon-share_dark-rem:before{background-position: -0rem -6.43rem; width: 0.19rem; height: 0.22rem;}
.icon-tel:before{background-position: -0px -665px; width: 19px; height: 19px;}
.icon-tel-rem:before{background-position: -0rem -6.65rem; width: 0.19rem; height: 0.19rem;}
.icon-tel_dark:before{background-position: -0px -684px; width: 19px; height: 19px;}
.icon-tel_dark-rem:before{background-position: -0rem -6.84rem; width: 0.19rem; height: 0.19rem;}
.icon-wrong:before{background-position: -0px -703px; width: 25px; height: 25px;}
.icon-wrong-rem:before{background-position: -0rem -7.03rem; width: 0.25rem; height: 0.25rem;}
.user-card:before,.user-complete:before,.user-gift:before,.user-group:before,.user-money:before,.user-order:before,.user-send:before,.user-unpay:before,.user-unsend:before{background-image: url("../images/sprite-user.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 26px 203px;}
.user-card-rem:before,.user-complete-rem:before,.user-gift-rem:before,.user-group-rem:before,.user-money-rem:before,.user-order-rem:before,.user-send-rem:before,.user-unpay-rem:before,.user-unsend-rem:before{background-image: url("../images/sprite-user.png");content:'';display:inline-block;font-size:0px;vertical-align:middle;background-size: 0.26rem 2.03rem;}
.user-card:before{background-position: -0px -0px; width: 26px; height: 26px;}
.user-card-rem:before{background-position: -0rem -0rem; width: 0.26rem; height: 0.26rem;}
.user-complete:before{background-position: -0px -26px; width: 21px; height: 21px;}
.user-complete-rem:before{background-position: -0rem -0.26rem; width: 0.21rem; height: 0.21rem;}
.user-gift:before{background-position: -0px -47px; width: 26px; height: 26px;}
.user-gift-rem:before{background-position: -0rem -0.47rem; width: 0.26rem; height: 0.26rem;}
.user-group:before{background-position: -0px -73px; width: 26px; height: 26px;}
.user-group-rem:before{background-position: -0rem -0.73rem; width: 0.26rem; height: 0.26rem;}
.user-money:before{background-position: -0px -99px; width: 26px; height: 26px;}
.user-money-rem:before{background-position: -0rem -0.99rem; width: 0.26rem; height: 0.26rem;}
.user-order:before{background-position: -0px -125px; width: 13px; height: 14px;}
.user-order-rem:before{background-position: -0rem -1.25rem; width: 0.13rem; height: 0.14rem;}
.user-send:before{background-position: -0px -139px; width: 23px; height: 21px;}
.user-send-rem:before{background-position: -0rem -1.39rem; width: 0.23rem; height: 0.21rem;}
.user-unpay:before{background-position: -0px -160px; width: 23px; height: 21px;}
.user-unpay-rem:before{background-position: -0rem -1.6rem; width: 0.23rem; height: 0.21rem;}
.user-unsend:before{background-position: -0px -181px; width: 24px; height: 22px;}
.user-unsend-rem:before{background-position: -0rem -1.81rem; width: 0.24rem; height: 0.22rem;}
