@import "global.scss";

.footer { background: rgba(255, 255, 255, .96); height: 48px; line-height: 48px; }
.footer ul { display: -webkit-box; }
.footer ul li { -webkit-box-flex: 1; width: 0px; }
.footer .iconfont { font-size: 30px; color: #ccc; text-align: center; }
.footer .iconfont.curr { color: $color; }

//登录注册
.sign { top: 0px; background: #fff; }

//首页
.home { margin-bottom: 48px; padding-bottom: 10px; }