<header>
    <div class="head_left" sn-tap="this.back()"><button>取消</button></div>
    <div class="head_right"><button disabled="{!content && (!images || !images.length)}" sn-tap="this.submit()">发送</button></div>
</header>
<div class="main pt_m" ref="main">
    <div class="qn_publish__con pr_m pl_m bd_tb mb_l">
        <textarea sn-model="content" placeholder="说点什么吧" /></textarea>
    </div>
    <div class="qn_publish__img clearfix pr_m pl_m">
        <button class="quan-addimage fl_l" sn-tap="this.selectImage()"></button>
        <img sn-src="{item.thumbnail}" class="fl_l" sn-repeat="item in images" />
    </div>
</div>