<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
    <div class="head_right"><button sn-tap="this.save()">确定</button></div>
</header>
<div class="main ct_contactlist" ref="main">
    <div class="ta_c pt_m fs_m cl_666">请选择要加入黑名单的用户</div>
    <div class="ct_contactlist__search">
        <form class="ps_r zi_1 flex">
            <p class="icon-search ml_m"></p>
            <input type="text" class="bd_n ml_s flexitem fs_m" placeholder="搜索好友" />
        </form>
    </div>
    <div class="ct_contactlist__group" sn-repeat="group in groups">
        <div class="hd fs_m pd_s ml_m">{group.letter}</div>
        <ul class="ct_contactlist__list bd_t bg_fff">
            <li class="bd_b flex" sn-repeat="item in group.list" sn-tap="item.checked=!item.checked">
                <img onerror="this.src='images/default.jpg'" sn-src="{sl.resource(item.avatars)}" class="dp_b sqr_s" />
                <div class="flexitem ml_m">
                    <p class="fs_l">
                        {this.getUserShowName(item)}
                    </p>
                </div>
                <p class="{item.checked?'icon-checked':'icon-check'}"></p>
            </li>
        </ul>
    </div>
</div>