@import "mixin.scss";
@import "iconfont.css";

$color: #f54559;
$deepcolor: #c00;
$bgcolor: #fe4a5d;
$lightcolor:#ffa5b5;

.btn_empty,.btn { display: inline-block; background: #fff; border: 1px solid $lightcolor; color: $lightcolor; border-radius: 15px; height: 30px; font-weight: normal; line-height: 30px; font-weight: normal; font-size: 14px; padding: 0 10px;}
.btn { color: #fff; background-color: $color; border: 0; }


header { background: #fff; height: 44px; line-height: 44px; font-weight: 200; }
header:after { content:''; display:block;-webkit-transform: scale(.5);width:200%;border-top: 1px solid #aaa;-webkit-transform-origin: left bottom;position: absolute; bottom: 0px; }
.has_status_bar header { border-top-color: #fff; }

.head_title { color: $color; font-size: 16rem; font-weight: 400;}
.has_status_bar header.header_trans { border-top-color: transparent; }
.header_trans { background: transparent; }
.header_trans .head_back, .header_trans .head_call, .header_trans .head_share { border-radius: 50%; background-color: rgba(0, 0, 0, .8); width: 36px; height: 36px; margin: 5px 0 0 5px; }
.header_trans .head_back:before { margin: 3px 0 0 1px; }
.header_trans + .main { top: 0px; }
.header_trans .head_call:before, .header_trans .head_share:before { display: inline-block; width: 30px; height: 30px; background: url(icon.png) no-repeat 0px -120px; background-size: 320px auto; content: ''; position: relative; left: -2px; top: 2px;margin: 0; }
.header_trans .head_share:before { background-position-x: -30px; left: -3px; }
.head_right { position: absolute; right: 5px; left: 0px; top: 0; left: 0; text-align: right; }
.head_right .head_call, .head_right .head_share { display: inline-block; }
.head_back, .head_menu,.head_all { width: 60px; height: 44px; z-index: 1000; position: absolute; top: 0; left: 0; }

.head_msg { width: 50px; position: absolute; right: 0px; top: 0px; height: 44px; z-index: 1000; color: $color; font-size: 32px; }
.head_msg i { position: absolute; top: 15px; left: 19px; color: $deepcolor; border-radius: 8px; height: 12px; font-size: 7px; line-height: 12px; font-weight: normal; width: 12px; }
.head_msg i:before { color: #fff; position: absolute; z-index: 0; top: 0; left: 0; font-size: 12px;}
.head_msg i em { position: relative; z-index: 1; }
.head_search_btn { min-width: 60px; position: absolute; right: 0px; top: 0px; }
.head_search_btn .btn_small { background: #74c0f3; height: 30px; line-height: 31px; color: #fff; font-size: 14px; display: block; margin: 9px 6px 0 6px; border-radius: 4px; padding: 0 10px; }
.head_tab, .head_search { display: -webkit-box; text-align: center; margin: 0 50px; font-size: 3rem; position: relative; }
.head_tab {margin: 0 70px;}
.head_tab li { -webkit-box-flex: 1; width: 0; }
.head_tab .cursor { display: block; position: absolute; bottom: 0px; left: 0px; width: 50%; height: 2px;  -webkit-transition: -webkit-transform 200ms ease-out 0ms; -webkit-transform: translate3d(0%, 0%, 0); }
.head_tab .cursor:before { border-bottom: 2px solid #fff; display: block; content: ''; height: 0px; width: 50px; margin: 0 auto; }
.head_search { border-radius: 12px; background: #ddd; height: 25px; padding: 0; margin-top: 10px; }
.head_search input { text-align: center; -webkit-box-flex: 1; border-radius: 12px; color: #fff; display: block; border: 0px; background: #ddd;height: 100%; }
.head_search input::-webkit-input-placeholder{ color: #fff; }
.head_all:before { background-position: -210px -120px;}

.head_disc {margin-left: 10px;}
.head_disc input {text-align: left;margin-left: 4px; }
.head_disc:before { @extend .icon; width:16px; height: 16px; background-position: -300px -30px;margin: 5px 0 0 10px; }

.head_share { width: 44px; height: 44px; }
.head_share:before { @extend .icon; background-position: -150px -150px; margin: 5px 0px 0px 6px; }

.main { background: #eeefef; padding-top: .1px; top: 44px; }
.refreshing { background: transparent; color: #333; }

.btn_large { height: 35px; line-height: 35px; color: #fff; background: $bgcolor; font-size: 15px;  }

.footer {  background: rgba(255, 255, 255, .96); height: 48px; line-height: 48px; }
.footer ul { display: -webkit-box; }
.footer ul li { -webkit-box-flex: 1; width: 0px; }
.footer .iconfont {font-size: 30px; color: #ccc; text-align: center; }
.footer .iconfont.curr {color: $color;}

//登录注册
.sign { top: 0px; background: #fff; }
.sign .icon-close { font-size: 20px;  position: absolute; top: 15px; left: 15px; }
.sign_hd { margin: 35px 10% 0 10%; font-size: 16px; color: $color; text-align: center; }
.sign_subhd { @extend .border_bottom; text-align: center; color: #999; padding:10px 0 20px 0; font-size: 14px; }
.sign_form li { width: 100%; height: 44px; @extend .border_bottom; }
.sign_form input[type="text"],.sign_form input[type="email"],.sign_form input[type="password"] { display: block; border: 0;width:100%; height: 100%; margin-left: 8px; font-size: 14px; }
.sign_form .validcode { display: block; position: absolute; right: 10px; top: 7px; height: 30px;width:70px; }
.sign_form input::-webkit-input-placeholder { font-size: 14px;color: #ccc; }
.sign_btn { margin-top: 20px; }
.sign_ft { margin: 10px 10px 0 10px; font-size: 14px;}
.sign_ft a:first-child,.sign_ft i { color: $color; }
.sign_ft a:last-child { float: right; }


//首页
.home { margin-bottom: 48px; padding-bottom: 10px; }
//.topbanner img { height: 120px; }
.nav { background-color: #fff;  display: -webkit-box; text-align: center; padding: 15px 10px 13px 10px;}
.nav li {-webkit-box-flex: 1; width: 0px; }
.nav li {font-size: 12px; color: #333; }
.nav li i:before { display: block; margin: 0 auto 3px auto;font-size: 28px; width: 48px; height: 48px; color: $color; border: 1px solid $color; border-radius: 50%; line-height: 50px; text-indent: 2px; }
.nav li i.icon-random:before{ font-size: 34px; line-height: 50px; }
.nav li i.icon-dict:before{ text-indent: 6px; line-height: 44px;font-size: 32px;  }

.hm_interest,.hm_topic,.hm_activity { margin-top: 10px; padding-top: 10px; background: #fff;  }
.hm_interest .hd,.hm_topic .hd,.hm_activity  .hd{ font-size: 16px; padding: 6px 0 6px 10px; @extend .bottom_line; }
.hm_interest .hd .more,.hm_topic .hd .more,.hm_activity .hd .more{ float: right; color: $color; margin-right: 10px; font-size: 12px; }
.hm_interest .hd i,.hm_topic .hd i,.hm_activity .hd i { color: $color; margin-right: 3px; font-size: 18px; vertical-align: -1px;}
.hm_interest .list { overflow: hidden; }
.hm_interest .list .item { @extend .right_line; float: left;width: 242px;}
.hm_interest .bd { padding-top: 15px; text-align: center; }
.hm_interest .bd img { display: block; margin: 0 auto; width: 60px; height: 60px; border-radius: 50%; overflow: hidden; }
.hm_interest .bd .name { font-size: 14px; margin-top: 6px; }
.hm_interest .like { font-size: 12px; color: #999; }
.hm_interest .album { width: 242px; }
.hm_interest ul { overflow: hidden; width: 110%; padding: 6px 0; }
.hm_interest ul li { float: left; margin-right: 1px; }
.hm_interest ul li img { display: block; width: 80px; height: 80px;}
.hm_interest .ft { text-align: center;padding-bottom: 10px; }

.hm_topic .tit { padding: 10px 0; margin: 0 0 0 10px; line-height: 1.5; font-size: 14px; @extend .bottom_line; }
.hm_topic .con { display: -webkit-box; padding: 10px 10px 10px 0;}
.hm_topic .img { text-align: center; margin-left: 6px; }
.hm_topic .img img { display: block; width: 50px; height: 50px; border-radius: 50%; }
.hm_topic .img span { display: inline-block; background: $lightcolor; color: #fff; border-radius: 6px; font-size: 10px; padding: 2px 5px; }
.hm_topic .text { -webkit-box-flex: 1;padding: 6px 10px; line-height: 1.5; font-size: 14px; color: #bdbdbd; }

.hm_activity .bd li {display: -webkit-box; padding: 10px 10px 10px 0; margin: 0 0 0 10px;@extend .bottom_line;}
.hm_activity .bd li:last-child { background: none; }
.hm_activity .con { -webkit-box-flex: 1;padding: 6px 10px; line-height: 1.5; font-size: 12px; color: #bdbdbd; }
.hm_activity .img img { width: 80px  }
.hm_activity .tit { color: #333;font-size: 14px; }
.hm_activity .date { color: $lightcolor; }
