<header class="white_header bottom_border">
    <div class="head_back" data-back="{back}"></div>
    <div class="head_title">{title}</div>
    <div class="head_right" data-forward="/news/coupon?from=/coupon">使用规则</div>
</header>
<div class="main uc_coupon">
    <div class="uc_coupon__get">
        <input type="text" sn-if="puttingCoupon" sn-model="code" placeholder="请输入券码" />
        <b class="btn" sn-tap="this.receiveCoupon()">{puttingCoupon?'兑换':'我要领券'}</b>
    </div>
    <div class="uc_coupon__tip" sn-display="{isShowToast}" style="display:none">
        <div class="{toastType=='error'?'icon-wrong-rem':'icon-right-rem'} icon_cm"></div>
        <div class="msg">{toastMsg?toastMsg:'兑换成功'}</div>
    </div>
    <div class="uc_coupon__overdue" sn-if="closeNumber">您有{closeNumber}个优惠券即将到期</div>
    <ul class="uc_coupon__list">
        <li sn-repeat="item in data" class="icon-couponline {(item.VCA_VCT_ID == 4 ? 'free' : '') + (item.IsOverdue ? ' dis' : '')}" sn-tap="this.detail(item)">
            <div class="hd {item.VCA_VCT_ID == 4 ? 'l-free' : ''}">
                <p class="price" sn-if="item.VCA_VCT_ID!=4">{util.currency(item.VCA_DEDUCT_AMOUNT)}</p>
                <p class="type" sn-if="item.VCA_VCT_ID!=4">{item.VCA_VCT_ID==4?'免邮卡':item.VCA_VCT_ID==5?'现金券':'优惠券'}</p>
            </div>
            <div class="bd l-abs_card">
                <p class="name to_e">{item.VCA_VCT_ID==4?'免邮卡':(item.VCA_NAME.split(/\,|，/)[0]+'，')}</p>
                <p class="prd" sn-if="{item.PRD_NAME&&item.VCA_VCT_ID!=4}" sn-tap="this.goTo(item)">仅限“<span>{item.PRD_NAME}</span>”使用</p>
                <p class="time">有效期:<br>{item.IsOverdue?'已过期':(util.formatDate(item.CSV_START_DT,'yyyy/MM/dd')+'-'+util.formatDate(item.CSV_END_DT,'yyyy/MM/dd'))}</p>
            </div>
        </li>
    </ul>
    <div class="my_nodata" sn-if="{!data.length}">
        <div class="icon"></div>
        <div class="text">您目前还没有卡券哦</div>
        <div class="btn" data-forward="/all?from=/coupon">去逛逛吧</div>
    </div>
</div>