<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
    <div class="head_right"><button class="btn_xs" sn-tap="this.submit()">提交</button></div>
</header>
<div ref="main" class="main">
    <div class="uc_feedback__con surround_border">
        <textarea placeholder="请输入您的宝贵意见与建议，我们将不断优化。"></textarea>
        <div class="num">0/250</div>
    </div>
    <div class="uc_feedback__tit">图片（选填，提供问题截图）</div>
    <ul class="uc_feedback__imgs ">
        <li class="add icon-plus-rem surround_border"></li>
    </ul>
</div>