<header class="white_header bottom_border">
    <div class="head_back" data-back="{back}"></div>
    <div class="head_title">{title}</div>
    <div class="head_right dark">{currentLevel}</div>
</header>
<div class="main uc_month" ref="main">
    <div class="uc_month__tab" sn-require="widget/tab" sn-data="{ {items:['未领取','已领取','已过期']} }">
        <div class="ps_r">
            <div class="uc_month__nodata dock bg_app" sn-if="!hasNextMonthGift&&!list.length">
                <div class="l-gift_1 ta_c"></div>
                <div class="ta_c mt_l cl_999">您还没有相关月礼哦</div>
                <button class="btn_xl" data-back="/?tab=0">去逛逛吧</button>
            </div>
            <div class="left">您可领取的礼品 <span>您还可领取<em>{user.FreeMonths}</em>/{user.TotalMonths}</span></div>
            <div class="uc_month__list">
                <div class="item" sn-repeat="item in list">
                    <p class="img">
                        <span class="date">{data.Year}年{data.Month}月</span>
                        <img sn-src="{item.WPP_LIST_PIC}">
                    </p>
                    <p class="con">
                        <span class="name">{item.PRD_NAME}</span>
                        <em class="price">￥{item.PRD_PRICE}</em>
                        <button class="btn_m" sn-tap="this.getGift(item)">立即领取</button>
                    </p>
                </div>
                <div class="next_month l-gift_white-rem">
                    <p class="note">下月月礼正在适配中...</p>
                </div>
            </div>
        </div>

        <div class="ps_r">
            <div class="uc_month__nodata dock bg_app" sn-if="!got.length">
                <div class="l-gift_1 ta_c"></div>
                <div class="ta_c mt_l cl_999">您还没有相关月礼哦</div>
                <button class="btn_xl" data-back="/?tab=0">去逛逛吧</button>
            </div>
            <div class="uc_month__list">
                <div class="item" sn-repeat="item in got">
                    <p class="img">
                        <span class="date">{item.Year}年{item.Month}月</span>
                        <img sn-src="{item.WPP_LIST_PIC}">
                    </p>
                    <p class="con">
                        <span class="name">{item.PRD_NAME}</span>
                        <em class="price">￥{item.PRD_PRICE}</em>
                        <button class="btn_m" sn-tap="this.getGift(item)">立即领取</button>
                    </p>
                </div>
            </div>
        </div>

        <div class="ps_r">
            <div class="uc_month__nodata dock bg_app" sn-if="!overdue.length">
                <div class="l-gift_1 ta_c"></div>
                <div class="ta_c mt_l cl_999">您还没有相关月礼哦</div>
                <button class="btn_xl" data-back="/?tab=0">去逛逛吧</button>
            </div>
            <div class="uc_month__list">
                <div class="item" sn-repeat="item in overdue">
                    <p class="img">
                        <span class="date">{item.Year}年{item.Month}月</span>
                        <img sn-src="{item.WPP_LIST_PIC}">
                    </p>
                    <p class="con">
                        <span class="name">{item.PRD_NAME}</span>
                        <em class="price">￥{item.PRD_PRICE}</em>
                        <button class="btn_m bg_ddd" sn-tap="this.getGift(item)">已过期</button>
                    </p>
                </div>
            </div>
        </div>


    </div>
    <div class="my_nodata" sn-display="{!user.FreeMonths}" style="display:none">
        <div class="icon"></div>
        <div class="text">您目前还没有免费领取特权哦！</div>
        <div class="btn" data-forward="/?tab=0">去逛逛吧</div>
    </div>
</div>