<div sn-display="{!showGuide}">
    <div class="searchwrap" ref="searchwrap" style="display:none">
        <header>
            <form class="head_search head_disc">
                <em class="icon-search icon_cm"></em>
                <input type="search" placeholder="热门搜索：新月枕" ref="searchText" />
            </form>
            <div class="head_right" sn-tap="this.hideSearch()">取消</div>
        </header>
        <div class="main">
            <div class="searchhistory"><i class="icon-clear" sn-tap="this.clearSearch()"></i> 历史记录</div>
            <ul class="searchlist">
                <li sn-repeat="item in searchHistory" sn-tap="this.search(item)">{item}</li>
            </ul>
            <div class="searchhistory">热门搜索</div>
            <ul class="searchlist">
                <li sn-repeat="item in hotSearch" sn-tap="this.search(item)">{item}</li>
            </ul>
        </div>
    </div>
    <header sn-display="{!isStart||isLogin}">
        <div class="head_left">
            <em class="icon-location" sn-if="{bottomTab==0||bottomTab==1}">
            </em>
            <em class="icon-setting" sn-if="{bottomTab==4}" data-forward="/settings">
            </em>
        </div>
        <form class="head_search head_disc" sn-if="{bottomTab==2}">
            <input type="search" placeholder="搜索专题" ref="search" />
        </form>
        <div class="head_search head_search_holder" sn-click="this.showSearch()" sn-display="{tab==0&&bottomTab==0}">
            <em class="icon-search icon_cm"></em>
        </div>
        <div class="head_title" sn-display="{bottomTab==4}" style="display:none"></div>
        <div class="head_right" data-forward="{isLogin?'/cart':'/login'}">
            <em class="icon-message head_msg">
                <i sn-display="{$global.msg_count!=0?'block':'none'}">{$global.msg_count}</i>
            </em>
        </div>
    </header>
    <div sn-if="{isStart&&!isLogin}" style="position:absolute;z-index: 1000;right:0;left:0;top:0;bottom:0;">
        <div class="home_mask"></div>
        <div class="home_text" data-forward="/login">
            <h1></h1>
            <h2>让回家的灯，为爱亮起来。</h2>
            <h3>开启时尚居家之旅</h3>
            <h4>LIFE STARTS HERE</h4>
        </div>
        <div class="launch">
            <img src="images/launch0.jpg" />
            <img src="images/launch1.jpg" class="launch_hide" />
            <img src="images/launch2.jpg" class="launch_hide" />
        </div>
    </div>
    <div sn-display="{!isStart||isLogin}">
        <div class="main js_shop hm_tab_con" sn-style="-webkit-transform:translate({bottomTab==0?'0px':'100%'},0px)" data-index="0">
            <div class="hm_shop">
                <div class="sp_all_cates">
                    <div ref="cates">
                        <ul style="width:{(navs.length+1)*.73}rem;padding-right:30px;">
                            <li class="cate0 curr">首页</li>
                            <li sn-repeat="item in navs" class="{!item.LPE_URL?'cate'+item.LPE_PCG_ID:'noicon'}" data-forward="{!item.LPE_URL?'/all?id='+item.LPE_PCG_ID:item.LPE_URL}">{item.LPE_PCG_NAME}</li>
                        </ul>
                    </div>
                    <div class="dropdown_btn" sn-tap="this.showCategories()"></div>
                </div>
                <div class="banner" ref="topbanner">
                </div>
                <ul class="hm_shop__nav">
                    <li data-forward="/all"><i class="icon-new icon_cm"></i>新品上市</li>
                    <li data-forward="/list?type=new&from=%2f"><i class="icon-flash icon_cm"></i>周一闪购</li>
                    <li data-forward="/news/fastbuy?from=%2f"><i class="icon-group icon_cm"></i>来拼团吧</li>
                    <li data-forward="/group"><i class="icon-navhot icon_cm"></i>人气必入</li>
                </ul>
                <div sn-repeat="item in activity">
                    <div sn-if="{item.type==1}" class="hm_shop_banner">
                        <ul>
                            <li><img sn-repeat="img in item.data" data-src="{img.src}" data-forward="{img.url}?from=%2f" /></li>
                        </ul>
                    </div>
                    <div sn-if="{item.type==2&&item.data.length}" class="hm_shop_scroll js_shop_scroll" style="padding-right:10px;">
                        <ul class="hm_shop_list">
                            <li class="hm_shop_list_item" sn-repeat="prd in item.data" data-forward="/item/{prd.PRD_ID}?from={encodeURIComponent('/')}">
                                <img data-src="{prd.WPP_LIST_PIC}" />
                                <p class="price">￥{prd.PRD_PRICE}
                                    <del sn-display="{prd.PRD_SPECIAL_FLAG}">¥{prd.PRD_MEMBER_PRICE}</del>
                                </p>
                                <p class="name">{prd.PRD_NAME}</p>
                            </li>
                        </ul>
                    </div>
                </div>

                <ul class="sp_list">
                    <li sn-repeat="item in newproducts" class="sp_list_item" data-forward="/item/{item.PRD_ID}">
                        <img data-src="{item.WPP_LIST_PIC1}" />
                        <p class="price"><b>￥{item.PRD_PRICE}</b>
                            <del sn-display="{item.PRD_PRICE!=0&&item.PRD_PRICE<item.PRD_MEMBER_PRICE}">￥{item.PRD_MEMBER_PRICE}&nbsp;</del>
                        </p>
                        <p class="name">{item.PRD_NAME}</p>
                        <div class="sold_out" sn-display="{item.PRD_NUM==0}">脱 销
                            <br>Sold Out</div>
                    </li>
                </ul>

            </div>
        </div>

        <div class="main" sn-style="-webkit-transform:translate({bottomTab==1?'0px':'100%'},0px)">
            <div class="baiduMap" sn-html="{baiduMap}">
            </div>
        </div>

        <div ref="discovery" class="main" sn-style="-webkit-transform:translate({bottomTab==2?'0px':'100%'},0px)">

        </div>
        <div ref="messages" class="main hm_msg" sn-style="-webkit-transform:translate({bottomTab==3?'0px':'100%'},0px)">
            <div style="overflow:hidden">
                <div class="hm_msg_list" data-forward="/messages">通知<i sn-display="{msg_count!=0}">{msg_count}</i></div>
                <div class="hm_msg_service" data-forward="/news/100">联系客服</div>
                <div class="hm_msg_discovery">
                    <div class="hd">更多态度</div>
                    <ul class="disc_list">
                        <li sn-repeat="item in rec" data-forward="/discovery/{item.DCV_ID}">
                            <img sn-src="{item.DCV_REC_PIC}" />
                            <em class="see">点击查看</em>
                        </li>
                    </ul>
                    <div class="ft" data-forward="/discovery/list/0">查看更多态度>></div>
                </div>
            </div>
        </div>
        <div class="hm_user" sn-style="-webkit-transform:translate({bottomTab==4?'0px':'100%'},0px)">
            <div class="main" data-index="3">
                <div class="hm_user__body">
                    <div class="hm_user__base">
                        <div class="avatars"><img sn-src="{user.Avatars||'/images/default.jpg'}" sn-error="this.src='/images/default.jpg'" /></div>
                        <div class="name">{user.UserName}</div>
                        <div class="addr" data-forward="/address">收货地址<em class="icon_arrow"></em></div>
                    </div>
                    <div class="hm_user__card">
                        <div class="icon-abs hd bottom_border"><span class="level">{vipName}</span>
                            <span class="energy">活力值<em>{util.formatMoney(energy)}</em></span>
                        </div>
                        <div class="bottom_border">
                            <div class="barcode" sn-html="{barcode}">
                            </div>
                        </div>
                        <div class="rights" data-forward="/news/201">会员权益<em class="icon_arrow"></em></div>
                    </div>
                    <div class="hm_user__order top_bottom_line">
                        <div class="user-order bottom_border">我的订单<span class="allorder" data-forward="/myorder">查看全部订单</span></div>
                        <ul class="ordercates">
                            <li class="user-unpay" data-forward="/myorder?state=1"><i>12</i><span>待付款</span></li>
                            <li class="user-unsend" data-forward="/myorder?state=2"><i>1</i><span>待发货</span></li>
                            <li class="user-send" data-forward="/myorder?state=3"><span>配送中</span></li>
                            <li class="user-complete" data-forward="/myorder?state=4"><span>已完成</span></li>
                        </ul>
                    </div>

                    <ul class="hm_user__other top_bottom_line">
                        <li class="user-gift bottom_border" data-forward="/month">我的月礼 <em class="note">{user.FreeMonths}个月</em></li>
                        <li class="user-card bottom_border" data-forward="/coupon">我的卡券 <em class="note">{user.FreeCouponsCount+user.CouponsCount}</em></li>
                        <li class="user-money" data-forward="/mypoint">积分钱包 <em class="note">{user.Points}积分</em></li>
                    </ul>
                    <ul class="hm_user__other top_bottom_line">
                        <li class="user-group" data-forward="/steward">爱管家记录 <em class="note">{user.StewardNum}条</em></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="main js_offline" sn-if="{isOffline}">
            <div class="home_offline">
                <div class="ico"></div>
                <div class="txt">您的网络不太顺畅哦</div>
                <div class="txt_sub">请检查您的手机是否联网</div>
                <div class="btn">重新加载</div>
            </div>
        </div>
    </div>
    <ul class="footer top_border" sn-display="{!isStart||isLogin}">
        <li class="{bottomTab==0?'curr':''}" sn-tap="bottomTab=0"><em class="{bottomTab==0?'icon-home_cur':'icon-home'}"></em>首页</li>
        <li data-forward="/all?id=1"><em class="icon-menu"></em>分类</li>
        <li class="{bottomTab==2?'curr':''}" sn-tap="this.showDiscovery()"><em class="{bottomTab==2?'icon-life_cur':'icon-life'}"></em>会生活</li>
        <li class="{bottomTab==3?'curr':''}"><em class="{bottomTab==3?'icon-cart_cur':'icon-cart'}"></em>购物车<i sn-display="{$global.cartQty!=0}">{$global.cartQty}</i></li>
        <li class="{bottomTab==4?'curr':''}" sn-tap="this.showMe()"><em class="{bottomTab==4?'icon-person_cur':'icon-person'}"></em>我</li>
    </ul>
    <div class="open_msg" style="display:none">
        <div class="msg_bd" sn-html="{message}"></div>
    </div>
    <div class="home_tip_mask" sn-if="{(!isStart||isLogin)&&showTipStep==1}"></div>
</div>
<div class="hm_guide" sn-if="{showGuide}">

</div>