<header>
    <div class="head_back" data-back="{back}"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main uc_member scrollview">
    <ul class="uc_member__info top_bottom_border">
        <li class="avatars" data-forward="/avatars">
            <em>头像</em>
            <img sn-src="{user.Avatars}" />
        </li>
    </ul>
    <ul class="uc_member__info">
        <li class="bottom_border" data-forward="/user/update/userName"><em>会员名</em><span>{user.UserName}</span></li>
        <li class="bottom_border" data-forward="/user/update/gender"><em>性别</em><span>{user.Gender==1?'男':user.Gender==2?'女':'保密'}</span></li>
        <li class="bottom_border"><em>生日</em><span>{util.formatDate(user.BirthDay,'yyyy/MM/dd')}</span></li>
        <li class="bottom_border" sn-tap="this.showCity()"><em>所在地</em><span>{user.City}</span></li>
        <li class="bottom_border"><em>家庭人数</em><span sn-if="{user.FamilySize}">{user.FamilySize}人</span></li>
        <li class="bottom_border"><em>是否有小孩</em><span>{user.HasChild==1?'有':'无'}</span></li>
        <li><em>小孩生日</em><span>{user.ChildBirthDay}</span></li>
    </ul>
</div>