<header>
    <div class="head_back" data-back="{{back}}"></div>
    <div class="head_title">{{title}}</div>
</header>
<div class="main">
    <div class="sp_buy uc_order__wrap">
        <div class="sp_buy_hd js_address">
            <div class="info"><span class="name">{{data.ORA_NAME}}</span><span class="mobi">{{data.ORA_MOBILE}}</span></div>
            <div class="loc">{{data.CTY_DESC}}{{data.REG_DESC}}{{data.ORA_ADDRESS}}</div>
        </div>
        <div class="sp_buy_bd uc_order__prodlist">
            <div class="hd">商品信息</div>
            <div class="uc_order__prod_listitem" sn-repeat="prd in data.Children" data-forward="/item/{{prd.PRD_ID}}">
                <img sn-src="{{prd.WPP_LIST_PIC||'images/default.jpg'}}" src="images/default.jpg" onerror="this.src='images/default.jpg'" />
                <div class="con">
                    <h2>{{prd.PRD_NAME}}</h2>
                    <h3>颜色：<span>{{prd.PRD_COLOR}}</span></h3>
                    <h4>尺寸：<span>{{prd.PRD_SPEC}}</span></h4>
                </div>
                <p class="priceinfo">
                    <span class="price">{{util.currency(prd.LPK_CHANNEL_PRICE,'￥')}}</span>
                    <span class="qty">x{{prd.LPK_QTY}}</span>
                </p>
            </div>
        </div>
        <div class="sp_buy_bd sp_buy_bill">
            <div class="hd">订单信息</div>
            <ul>
                <li><span>订单号</span><em>{{data.PUR_CODE}}</em></li>
                <li><span>订单状态</span><em>{{data.PUS_DESC}}</em></li>
                <li><span>下单日期</span><em>{{util.formatDate(data.PUR_DT)}}</em></li>
                <li><span>订单金额</span><em>{{util.currency(data.PUR_AMOUNT,'￥')}}</em></li>
                <li><span>运费</span><em>{{util.currency(data.PUR_EXP_IN_AMOUNT,'￥')}}</em></li>
                <li><span>总计</span><b>{{util.currency(data.PUR_AMOUNT+data.PUR_EXP_IN_AMOUNT,'￥')}}</b></li>
            </ul>
        </div>
        <div class="sp_buy_bd sp_buy_pay" sn-display="{{data.PUS_DESC=='待付款'}}">
            <div class="hd">支付方式</div>
            <ul>
                <li class="ico_alipay{{payType==1?' checked':''}}" sn-tap="payType=1">支付宝支付</li>
                <li class="ico_wxpay{{payType==2?' checked':''}}" sn-tap="payType=2">微信支付</li>
            </ul>
        </div>
    </div>
</div>
<footer class="sp_buy_action uc_order__footer">

    <div class="total">
        <div sn-display="{{data.PUS_DESC=='待付款'}}">总计：<b>{{util.currency(data.PUR_AMOUNT+data.PUR_EXP_IN_AMOUNT,'￥')}}</b></div>
    </div>
    <div class="btn js_pay" sn-display="{{data.PUS_DESC=='待付款'}}">立即支付</div>

    <b class="btn" sn-display="{{data.XPU_EXPRESS_CODE}}" data-forward="/user/express/{{data.PUR_CODE}}">查看物流</b>
    <b class="btn" sn-display="{{data.PUR_PAS_ID==2&&data.isShowShare}}" data-forward="/news/order{{data.PUR_ID}}?from={{url}}">分享有惊喜</b>
    <b class="btn btn_dark" sn-display="{{data.PUS_DESC=='待付款'||(data.PUR_PUS_ID==1&&(data.PUR_AMOUNT+data.PUR_EXP_IN_AMOUNT)==0&&data.PUR_PAS_ID==2)}}" sn-tap="false" sn-click="this.cancelOrder(data)">取消订单</b>

</footer>