<header>
    <div class="head_back" data-back="{back}"></div>
    <div class="head_title">{title}</div>
    <div class="head_right" data-forward="/messages">
        <em class="icon-message head_msg">
                <i sn-display="{$global.msg_count!=0?'block':'none'}">{$global.msg_count}</i>
            </em>
    </div>
</header>
<div class="main" ref="main">
    <div class="uc_setting__about">
        <div class="logo l-abs_l"></div>
        <div class="ver">ABS家居 v{version}</div>
    </div>
    <ul class="uc_setting__list top_bottom_border">
        <li data-forward="/member" class="bottom_border">个人资料<em></em></li>
        <li data-forward="/about?from=/settings" class="bottom_border">隐私政策<em></em></li>
        <li data-forward="/about">关于我们<em></em></li>
    </ul>

    <ul class="uc_setting__list top_bottom_border">
        <li data-forward="/feedback">意见与反馈<em></em></li>
    </ul>

    <ul class="uc_setting__list top_bottom_border">
        <li sn-click="this.logout()" class="logout">退出登录</li>
    </ul>
</div>