<div ref="main" class="main sign">
    <div class="sign_hd">进入起姻</div>
    <div class="sign_subhd">遇见最合适的人</div>
    <ul class="sign_form">
        <li>
            <input placeholder="请输入您的邮箱" sn-model="email" type="email" />
        </li>
        <li>
            <input placeholder="请输入密码" sn-model="password" type="password" />
        </li>
    </ul>
    <div class="sign_btn"><b class="btn_large js_login">立即登录</b> </div>
    <div class="sign_ft">
        <a href="/forget" forward>忘记密码?</a>
        <a href="/signup" forward>没有帐号，<i>立即注册</i></a>
    </div>
</div>