<div ref="main" class="main sign">
    <div class="iconfont icon-close" data-back="{{back}}"></div>
    <div class="sign_hd">加入起姻</div>
    <div class="sign_subhd">遇见最合适的人</div>
    <ul class="sign_form">
        <li>
            <input placeholder="请输入您的邮箱" sn-model="email" type="email" />
        </li>
        <li>
            <input placeholder="请输入密码" sn-model="password" type="password" />
        </li>
        <li>
            <input placeholder="再次输入密码" sn-model="password1" type="password" />
        </li>
        <li>
            <img src="{{validcodeImg}}&r={{now}}" sn-click="now=Date.now()" class="validcode" />
            <input placeholder="验证码" sn-model="validcode" type="text" />
        </li>
    </ul>
    <div class="sign_btn"><b class="btn_large js_login">立即注册</b> </div>
</div>