<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main" ref="main">
    <div class="ym_exchange__bg cl_fff mb_l">
        <div class="fs_s ml_l pt_s">当前可兑换云米总额</div>
        <div class="ta_c ym_exchange__total">{yunmiData.amount}</div>
    </div>
    <ul class="of_h ym_exchange__list flex ta_c">
        <li class="g_tag flex_0{type==1?' curr':''}" sn-tap="type=1">50MB</li>
        <li class="g_tag flex_0{type==2?' curr':''}" sn-tap="type=2">100MB</li>
        <li class="g_tag flex_0{type==3?' curr':''}" sn-tap="type=3">200MB</li>
    </ul>
    <ul class="of_h ym_exchange__list flex ta_c pt_m">
        <li class="g_tag flex_0{type==4?' curr':''}" sn-tap="type=4">300MB</li>
        <li class="g_tag flex_0{type==5?' curr':''}" sn-tap="type=5">500MB</li>
        <li class="g_tag flex_0{type==6?' curr':''}" sn-tap="type=6">1G</li>
    </ul>
    <div class="pt_m fs_s ml_m cl_666">
        兑换规则：1云米=1MB，套餐包有效期为当月<br /> 注：凑足100MB云米方可兑换，兑换流量均为省内流量
    </div>
    <div class="ym_exchange__btn pl_l pr_l">
        <button class="btn_l fs_l br_4" sn-tap="delegate.exchange()">兑换</button>
    </div>
</div>