<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main pt_l" ref="main">
    <div class="bd_tb bg_fff pt_1 mb_m pb_l">
        <div class="cl_app fs_m pt_s pl_m mb_l">分享推荐规则</div>
        <div class="ym_invite__prize ta_c">
            <p class="hd">已邀请人数</p>
            <p class="num">0/20</p>
        </div>
        <div class="ta_c lh_xxs fs_s mb_m">
            真可惜，您还没有邀请小伙伴，<br /> 赶快点击下方分享按钮，邀请小伙伴吧！
        </div>
        <div class="fs_l cl_app ta_c">邀请码</div>
        <div class="ym_invite__code ta_c">256889555</div>
        <div class="ym_invite__share bd_t pt_s">
            <div class="cl_app fs_m pl_s ta_l mb_m">分享至</div>
            <ul class="ym_invite__share flex pb_m">
                <li class="share-quan">
                    <p class="fs_s">朋友圈</p>
                </li>
                <li class="share-wx flex_0">
                    <p class="fs_s">微信好友</p>
                </li>
                <li class="share-wxquan">
                    <p class="fs_s">微信朋友圈</p>
                </li>
            </ul>
            <ul class="ym_invite__share flex">
                <li class="share-weibo">
                    <p class="fs_s">微博</p>
                </li>
                <li class="share-qq flex_0">
                    <p class="fs_s">QQ好友</p>
                </li>
                <li class="share-qqspace">
                    <p class="fs_s">QQ空间</p>
                </li>
            </ul>
        </div>
    </div>
</div>