<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main pt_m" ref="main">
    <form class="ml_m mr_m mb_s h_l bg_fff flex">
        <p class="pl_m"><span class="va_m">{type==1?'单个':'总'}金额</span> <i class="ym_redbag__pin_icon" sn-if="type==2">拼</i></p>
        <p class="fs_s">(可用云米:{amount})</p>
        <input sn-model="send_amount" type="tel" class="flex_0 ta_r fs_m pr_s" placeholder="填写金额" />
        <p class="pr_s">云米</p>
    </form>
    <div class="fs_m pl_l mb_l">当前为{type==1?'普通红包':'拼手气红包'}，<a href="javascript:;" class="cl_dark" sn-tap="type=type==1?2:1">改为{type==2?'普通红包':'拼手气红包'}</a></div>
    <form class="ml_m mr_m mb_m h_l bg_fff flex">
        <p class="pl_m">红包个数</p>
        <input type="number" sn-model="qty" class="flexitem ta_r fs_m pr_s" placeholder="填写个数" />
        <p class="pr_s">个</p>
    </form>

    <div class="ml_m mr_m mb_s bg_fff">
        <textarea sn-model="memo" class="ym_redbag__msg" placeholder="恭喜发财，大吉大利！"></textarea>
    </div>
    <div class="fs_m pl_l of_h">
        <em class="ym__redbag__friends mr_m bg_app va_m" sn-repeat="friend in friends">{friend.user_name}</em>
        <a href="javascript:;" sn-tap="this.selectFriends()" class="cl_app td_u pb_l va_m">添加好友</a>
    </div>
    <div class="ta_c pt_xxl flex jc_c">
        <p class="ym-point2"></p>
        <p class="ym_redbag__point">{util.fixFloat((parseFloat(send_amount)||0)*(type==1?parseFloat(qty)||0:1))}</p>
    </div>
    <div class="ml_m mr_m pt_xxl flex jc_c">
        <button class="btn_xl" sn-tap="this.sendRedbag()">塞钱进红包</button>
    </div>
</div>