<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main" ref="main">
    <div class="ym_exchange__bg cl_fff mb_l">
        <div class="fs_s ml_l pt_s">当前可赠送云米总额</div>
        <div class="ta_c ym_exchange__total">{amount}</div>
    </div>
    <div class="fs_m pl_m mb_s">
        仅移动和生活APP支持赠云米功能
    </div>
    <form class="flex bg_fff h_m bd_tb">
        <input class="flexitem h_m fs_m pl_m" sn-model="mobile" type="tel" placeholder="请输入手机号" />
    </form>
    <div class="fs_m pl_m mb_s pt_m">
        云米赠送数量
    </div>
    <form class="flex bg_fff h_m bd_tb mb_m">
        <input class="flexitem h_m fs_m pl_m" sn-model="send_amount" type="tel" placeholder="请输入云米数量" />
    </form>
    <div class="ym_send__say flex bg_fff h_m bd_tb pd_1">
        <textarea class="flexitem fs_m pl_m bd_0" sn-model="memo" placeholder="对好友说点什么吧?" />
    </div>
</div>
<footer class="h_xl flex ta_c pd_m">
    <button class="btn_l fs_l br_4" sn-tap="this.sendYunmi()">立即赠送</button>
</footer>