<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main" ref="main">
    <ul class="pt_l ">

        <li class="ym-task1 h_bar bd_tb flex bg_fff pl_m">
            <div class="flex_0 ml_m">
                <p class="fs_m">绑定生活服务并处理</p>
                <p class="fs_s">100云米</p>
            </div>
            <button class="ym_task__btn">说明</button>
        </li>
        <li class="ym-task2 h_bar bd_tb flex bg_fff pl_m" data-forward="/yunmi/invite">
            <div class="flex_0 ml_m">
                <p class="fs_m">新人推荐有礼</p>
                <p class="fs_s">50云米</p>
            </div>
            <button class="ym_task__btn">说明</button>
        </li>
        <li class="ym-task2 h_bar bd_tb flex bg_fff pl_m">
            <div class="flex_0 ml_m">
                <p class="fs_m">新人“首登”福利</p>
                <p class="fs_s">100云米</p>
            </div>
            <button class="ym_task__btn">说明</button>
        </li>
        <li class="ym-task3 h_bar bd_tb flex bg_fff pl_m">
            <div class="flex_0 ml_m">
                <p class="fs_m">发布朋友圈动态</p>
                <p class="fs_s">10云米</p>
            </div>
            <button class="ym_task__btn">说明</button>
        </li>
    </ul>
</div>