<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
    <div class="head_right icon-share pr_m pl_m"></div>
</header>
<div class="main ym_detail" ref="main">
    <div class="ym_detail__bg cl_fff">
        <dl class="pt_m">
            <dt class="pl_xxl fs_m">当前可用云米</dt>
            <dd class="ta_c fs_xxl">8000</dd>
        </dl>
    </div>
    <div class="fs_m lh_m ta_c cl_666">&lt;{util.formatDate(new Date(),'yyyy年MM月')}&gt;</div>
    <div class="lh_m bg_fff ym_detail__overview"><span>收入：</span><b>+174.00</b>
        <span>支出：</span><em>-50.00</em>
        <span>结余：</span><i>1023.00</i>
    </div>

    <div class="ym_detail__list bg_fff">
        <div class="hd flex fs_s">
            <p class="flex_0">{util.formatDate(new Date(),'yy-M-d W')}</p>
            <p>收：1234</p>
        </div>
        <dl class="bd_b">
            <dt class="flex fs_l pl_m pr_m  pt_m">
                <p class="flex_0">{util.formatDate(new Date(),'yy-M-d W')}</p>
                <p>+1234</p>
            </dt>
            <dd class="flex fs_m pl_m pr_m  pb_m cl_666">
                <p class="flex_0">无备注</p>
                <p>21:01</p>
            </dd>
        </dl>
        <dl>
            <dt class="flex fs_l pl_m pr_m  pt_m">
                <p class="flex_0">{util.formatDate(new Date(),'yy-M-d W')}</p>
                <p>+1234</p>
            </dt>
            <dd class="flex fs_m pl_m pr_m pb_m cl_666">
                <p class="flex_0">无备注</p>
                <p>21:01</p>
            </dd>
        </dl>
    </div>
    <div class="ym_detail__list bg_fff">
        <div class="hd flex fs_s">
            <p class="flex_0">{util.formatDate(new Date(),'yy-M-d W')}</p>
            <p>收：1234</p>
        </div>
        <dl>
            <dt class="flex fs_l pl_m pr_m  pt_m">
                <p class="flex_0">{util.formatDate(new Date(),'yy-M-d W')}</p>
                <p>+1234</p>
            </dt>
            <dd class="flex fs_m pl_m pr_m pb_m cl_666">
                <p class="flex_0">无备注</p>
                <p>21:01</p>
            </dd>
        </dl>
    </div>
</div>