<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main" ref="main">
    <div class="ym_exchange__bg cl_fff mb_m">
        <div class="fs_s ml_l pt_s">当前可兑换云米总额</div>
        <div class="ta_c ym_exchange__total">2000</div>
    </div>
    <div class="h_m flex bg_fff bd_tb fs_m mb_m">
        <p class="flex_0 pl_m">套餐包类型</p>
        <button class="ym_exchange__num">-</button>
        <p class="ym_exchange__num">100MB</p>
        <button class="ym_exchange__num">+</button>
    </div>
    <ul class="of_h ym_exchange__list flex ta_c">
        <li class="gl_tag flex_0 curr">100MB</li>
        <li class="gl_tag flex_0">200MB</li>
        <li class="gl_tag flex_0">300MB</li>
        <li class="gl_tag flex_0">500MB</li>
    </ul>
    <div class="pt_m fs_s ml_m cl_666">
        兑换规则：1云米=1MB，套餐包有效期为当月<br /> 注：凑足100MB云米方可兑换，兑换流量均为省内流量
    </div>
    <div class="ym_exchange__btn pl_l pr_l">
        <button class="btn_l fs_l br_4">兑换</button>
    </div>
</div>