<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main ym_idx" ref="main">
    <div class="ym_idx__bg cl_fff ta_c bd_b">
        <div class="flex">
            <dl class="flex_0">
                <dt class="pt_m_rem">云米总额</dt>
                <dd class="pt_l_rem fs_xl fw_b">{amount||0}</dd>
            </dl>
            <dl class="flex_0" sn-tap="this.receiveYunmi()">
                <dt class="ym-point-rem pt_s_rem">
                    <i class="num" sn-if="current.amount">+{current.amount||0}</i>
                </dt>
                <dd class="pt_s_rem fs_m ym_idx__timeout" sn-if="false">{current.amount||(next.timeLeft?"倒计时:"+next.timeLeft:'')}</dd>
            </dl>
            <dl class="flex_0">
                <dt class="pt_m_rem">当日获得</dt>
                <dd class="pt_l_rem fs_xl fw_b">{today_get_amount||0}</dd>
            </dl>
        </div>
        <div class="ta_c fs_s pb_m_rem" data-forward="/yunmi/detail">点击查看收支明细</div>
    </div>
    <ul class="ym_idx__tab flex ta_c fs_m bd_b bg_fff">
        <li class="flex_0 br_a {tab==0?'curr':''}" sn-tap="tab=0">摇云米</li>
        <li class="flex_0 br_a {tab==1?'curr':''}" sn-tap="tab=1">用云米</li>
        <li class="flex_0 {tab==2?'curr':''}" sn-tap="tab=2">赚云米</li>
    </ul>

    <div class="ym_idx__shake pt_1" sn-if="{tab==0}">
        <div sn-if="!shakeResult||!shakeResult.length" class="mt_xxl ym-shake ta_c pt_xxl pb_xxl" sn-tap="this.motion()">
            <p class="ta_c pt_xl">摇一摇</p>
        </div>
        <ul class="ym_idx__bags of_h pb_xl" sn-if="shakeResult&&shakeResult.length">
            <li class="fl_l" sn-repeat="item in shakeResult" sn-tap="this.getShakeYunmi(item)">
                <p class="name to_e">{item.name_for_show||item.contactName}
                    <span sn-if="{!item.isFriend||!item.user_id}" class="dp_b fs_s">（{item.user_id?'非好友':'未注册'}）</span></p>
                <div sn-if="{item.isFriend}" class="ym-bag-rem ym_idx__bag">
                    <p class="ym_idx__num">+{item.amount/2||0}</p>
                </div>
                <div sn-else class="ym-bag_empty-rem ym_idx__bag">
                    <p class="ym_idx__bag_lab">{item.user_id?'添加好友':'邀请'}</p>
                    <p class="ym_idx__num">+{item.user_id?item.amount/2:50}</p>
                </div>
            </li>
        </ul>
    </div>

    <div class="ym_idx__use pt_m" sn-if="{tab==1}">
        <ul class="bg_fff bd_tb">
            <li class="ym-transfer flex h_bar pl_m bd_b" data-forward="/yunmi/exchange">
                <p class="fs_m pl_m flex_0">云米兑换流量</p>
                <p class="icon-arrow mr_s"></p>
            </li>
            <li class="ym-send flex h_bar pl_m bd_b" data-forward="/yunmi/send_yunmi">
                <p class="fs_m pl_m flex_0">云米转赠</p>
                <p class="icon-arrow mr_s"></p>
            </li>
            <li class="ym-redbag flex h_bar pl_m" data-forward="/yunmi/redbag">
                <p class="fs_m pl_m flex_0">云米红包</p>
                <p class="icon-arrow mr_s"></p>
            </li>
        </ul>
    </div>
    <div class="ym_idx__use pt_m" sn-if="{tab==2}">
        <div class="ym-task2 h_bar bd_tb flex bg_fff pl_m" data-forward="/yunmi/invite">
            <div class="flex_0 ml_m">
                <p class="fs_m">新人推荐有礼</p>
            </div>
            <p class="icon-arrow mr_s"></p>
        </div>
        <div class="lh_l fs_m pl_m">新手任务</div>
        <ul class="bg_fff bd_tb">
            <li class="ym-new flex h_l pl_m bd_b">
                <p class="fs_m pl_m flex_0">新人首登福利
                    <i class="dp_b fs_s">+50云米</i></p>
                <button class="ym_task__btn">未完成</button>
            </li>
            <li class="icon-info flex h_bar pl_m bd_b">
                <input class="fs_m pl_m flex_0" placeholder="请输入您的邀请码（选填）" />
            </li>
            <li class="ym-timeout flex h_l pl_m bd_b">
                <p class="fs_m pl_m flex_0">收云米任务
                    <i class="dp_b fs_s">+10云米</i>
                </p>
                <button class="ym_task__btn">未领取</button>
            </li>
            <li class="ym-shaketask flex h_l pl_m">
                <p class="fs_m pl_m flex_0">摇云米任务
                    <i class="dp_b fs_s">+40云米</i></p>
                <button class="ym_task__btn">未完成</button>
            </li>

        </ul>
    </div>
</div>
<footer class="h_l bg_fff bd_t pt_1 flex ta_c ym_idx__foot" sn-if="{tab==0}">
    <div class="flex_0 br_aaa" sn-tap="this.findRich()">
        <i class="icon-money mr_m"></i> <span class="va_m">找土豪</span>
    </div>
    <div class="flex_0" sn-tap="this.motion()">
        <i class="icon-refresh2 mr_m"></i> <span class="va_m">换一批</span>
    </div>
</footer>

<div class="hm_idx__to_mask dock" style="display:none" ref="timeoutMask">
</div>
<div class="hm-timeout g_center" ref="timeout" style="display:none">
    <div class="close" sn-tap="this.hideTimeout()"></div>
    <div class="ft">还有{next.timeLeft}分钟后才能收获</div>
</div>