<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main ym_idx" ref="main">
    <div class="ym_idx__bg cl_fff ta_c">
        <div class="flex">
            <dl class="flex_0">
                <dt class="pt_m_rem">累计获得</dt>
                <dd class="pt_l_rem fs_xl fw_b">8000</dd>
            </dl>
            <dl class="flex_0" data-forward="/yunmi/detail">
                <dt class="ym-point-rem pt_m_rem"></dt>
                <dd class="fs_xxl ym_idx__timeout">15:25</dd>
            </dl>
            <dl class="flex_0">
                <dt class="pt_m_rem">当日获得</dt>
                <dd class="pt_l_rem fs_xl fw_b">15.5</dd>
            </dl>
        </div>
        <div class="ta_c fs_s pt_s_rem pb_m_rem" data-forward="/yunmi/detail">点击查看收支明细</div>
    </div>
    <ul class="ym_idx__tab flex ta_c fs_m bd_b bg_fff">
        <li class="flex_0 br_a {tab==0?'curr':''}" sn-tap="tab=0">摇云米</li>
        <li class="flex_0 br_a {tab==1?'curr':''}" sn-tap="tab=1">用云米</li>
        <li class="flex_0 {tab==2?'curr':''}" sn-tap="tab=2">做任务</li>
    </ul>

    <div class="ym_idx__shake" sn-if="{tab==0}">
        <div sn-if="shakeResult" class="ym-shake ta_c pt_xxl pb_xxl">
            <p class="ta_c pt_xl">摇一摇</p>
        </div>
        <ul class="ym_idx__bags of_h pb_xl" sn-if="!shakeResult">
            <li class="fl_l">
                <p class="name">aasdf</p>
                <div class="ym-bag-rem ym_idx__bag">
                    <p class="ym_idx__num">+123</p>
                </div>
            </li>
            <li class="fl_l">
                <p class="name">aasdf<span class="dp_b fs_s">（未注册）</span></p>
                <div class="ym-bag_empty-rem ym_idx__bag">
                    <p class="ym_idx__bag_lab">邀请</p>
                    <p class="ym_idx__num">+123</p>
                </div>
            </li>
            <li class="fl_l">
                <p class="name">aasdf<span class="dp_b fs_s">（非好友）</span></p>
                <div class="ym-bag_empty-rem ym_idx__bag">
                    <p class="ym_idx__bag_lab">添加好友</p>
                    <p class="ym_idx__num">+123</p>
                </div>
            </li>
            <li class="fl_l">
                <p class="name">aasdf</p>
                <div class="ym-bag-rem ym_idx__bag">
                    <p class="ym_idx__num">+123</p>
                </div>
            </li>
            <li class="fl_l">
                <p class="name">aasdf</p>
                <div class="ym-bag-rem ym_idx__bag">
                    <p class="ym_idx__num">+123</p>
                </div>
            </li>
            <li class="fl_l">
                <p class="name">aasdf</p>
                <div class="ym-bag-rem ym_idx__bag">
                    <p class="ym_idx__num">+123</p>
                </div>
            </li>
        </ul>

        <div class="pt_l pb_xxl">
            <div class="ta_c cl_app pb_m">本日你还能摇取100云米</div>
        </div>
    </div>

    <div class="ym_idx__use pt_m" sn-if="{tab==1}">
        <ul class="bg_fff bd_tb">
            <li class="ym-transfer flex h_bar pl_m bd_b" data-forward="/yunmi/exchange">
                <p class="fs_m pl_m flex_0">云米兑换流量</p>
                <p class="icon-arrow mr_s"></p>
            </li>
            <li class="ym-send flex h_bar pl_m bd_b" data-forward="/yunmi/send_yunmi">
                <p class="fs_m pl_m flex_0">云米转赠</p>
                <p class="icon-arrow mr_s"></p>
            </li>
            <li class="ym-redbag flex h_bar pl_m" data-forward="/yunmi/redbag">
                <p class="fs_m pl_m flex_0">云米红包</p>
                <p class="icon-arrow mr_s"></p>
            </li>
        </ul>
    </div>
    <div class="ym_idx__use pt_m" sn-if="{tab==2}">
        <div class="ym-task2 h_bar bd_tb flex bg_fff pl_m" data-forward="/yunmi/invite">
            <div class="flex_0 ml_m">
                <p class="fs_m">新人推荐有礼</p>
            </div>
            <p class="icon-arrow mr_s"></p>
        </div>
        <div class="lh_l fs_m pl_m">新手任务</div>
        <ul class="bg_fff bd_tb">
            <li class="ym-new flex h_l pl_m bd_b">
                <p class="fs_m pl_m flex_0">新人首登福利
                    <i class="dp_b fs_s">+50云米</i></p>
                <button class="ym_task__btn">未完成</button>
            </li>
             <li class="icon-info flex h_bar pl_m bd_b">
                <input class="fs_m pl_m flex_0" placeholder="请输入您的邀请码（选填）" />
            </li>
            <li class="ym-timeout flex h_l pl_m bd_b">
                <p class="fs_m pl_m flex_0">收云米任务
                    <i class="dp_b fs_s">+10云米</i>
                </p>
                <button class="ym_task__btn">未领取</button>
            </li>
            <li class="ym-shaketask flex h_l pl_m">
                <p class="fs_m pl_m flex_0">摇云米任务
                    <i class="dp_b fs_s">+40云米</i></p>
                <button class="ym_task__btn">未完成</button>
            </li>

        </ul>
    </div>


</div>
<footer class="h_l bg_fff bd_t pt_1 flex ta_c ym_idx__foot">
    <div class="flex_0 br_aaa">
        <i class="icon-money mr_m"></i> <span class="va_m">找土豪</span>
    </div>
    <div class="flex_0">
        <i class="icon-refresh2 mr_m"></i> <span class="va_m">换一批</span>
    </div>
</footer>