<header>
    <div class="head_title"></div>
    <div class="head_msg iconfont icon-mail" ref="msg">
        <i class="iconfont icon-favfull" sn-display="{$state.msgCount}"><em>{$state.msgCount}</em></i>
    </div>
</header>
<div class="main" sn-display="{tab==0}">
</div>
<footer class="footer top_border">
    <ul>
        <li class="icon-life">
            <span>生活</span>
        </li>
        <li class="icon-ent">
            <span>娱乐</span>
        </li>
        <li class="icon-quan_curr curr">
            <span>圈子</span>
        </li>
    </ul>
</footer>