@helper business(id,name) {
<div class="flex hm-icons-notify@(id) item bd_b" sn-tap="showNotify=(showNotify==@(id)?-1:@(id))">
    <i class="unread" sn-if="business.type@(id)data.unread">+{business.type@(id)data.unread}</i>
    <div class="flexitem pl_m">
        <div class="name fs_m">@(name)</div>
        <div class="fs_s cl_999 to_e con">{business.type@(id)data.title||'暂无提醒'}</div>
    </div>
    <div class="pl_m">
        <p class="date fs_s cl_999">{business.type@(id)data.send_date}</p>
        <p class="hm-icons-drop ta_r {showNotify==@(id)?'show':''}"></p>
    </div>
</div>
} @helper notify(id,name) { @this.business(id,name)
<ul class="pr_m hm_idx__notifi_bg" sn-if="showNotify==@(id)">
    <li class="flex subitem ml_m {(i!=business.type@(id)data.list.length-1)&&'hm_idx__notifi_item'}" sn-repeat="item,i in business.type@(id)data.list|filter:!item.switcher||item.switcher.charAt(0)==1&&item.switcher.charAt(1)==1" data-forward="/business/{item.business_id}">
        <i class="unread" sn-if="item.unread">+{item.unread}</i>
        <img sn-src="{sl.thumbnail(item.business_pic)}" />
        <div class="flexitem pl_m">
            <div class="name fs_m">{item.business_name}</div>
            <div class="fs_s cl_999 to_e con">{item.title}</div>
        </div>
        <div class="pl_m">
            <p class="date fs_s cl_999">{item.send_date?util.formatDate(item.send_date,'yyyy/MM/dd'):''}</p>
        </div>
    </li>
</ul>
}

<div class="hm_home dock" ref="home">
    <header sn-if="tab==1" class="flex {headBg?'header_app':'header_trans'} g_anim">
        <!--<a href="javascript:;" sn-tap="delegate.menu()" class="hm-icons-person h_bar pl_m pr_m"></a>-->
        <div class="flex_0"></div>
        <div class="hm-icons-shop h_bar pl_m pr_m" data-forward="/business/service"></div>
    </header>
    <header sn-if="tab==3" class="flex header_app">
        <!--<a href="javascript:;" sn-tap="delegate.menu()"><img onerror="this.src='images/default.jpg'" sn-src="{sl.resource(user.avatars)}" class="cir ml_m" /></a>-->
        <div class="head_title cl_fff">圈 子</div>
        <div class="head_right">
            <div class="icon-search3 h_bar pl_m pr_s" data-forward="{quanTab.index==0?'/pubquan/search':'/contact/search'}"></div>
            <div class="icon-plus h_bar pl_m pr_l" sn-tap="this.showQuanMenu()"></div>
        </div>
    </header>
    <header sn-if="tab==4" class="flex header_app">
        <div class="head_title cl_fff">我 的</div>
        <div class="head_right">
            <div class="user-setting2 h_bar pl_m pr_l" data-forward="/user/settings"></div>
        </div>
    </header>
    <div sn-if="tab==1" class="hm_idx main" ref="life">
        <div class="hm_idx__head">
            <div class="hm-yunmi-rem mg_a ta_c ps_r" sn-tap="this.receiveYunmi()">
                <i class="num" sn-if="currentYunmi.amount">+{currentYunmi.amount}</i>
            </div>
            <div class="hm-to_yunmi-rem ta_c" data-forward="/yunmi">
            </div>
            <a href="javascript:;" sn-tap="this.showYunMi()" class="hm_idx__ym_rule dock_bl cl_fff fs_s pd_s pl_m">云米规则</a>
        </div>
        <div class="hm_idx__banner" ref="banner">
        </div>
        <div class="hm_idx__life">
            @this.helpers.notify(2,'生活提醒') @this.helpers.notify(1,'通信提醒') @this.helpers.notify(3,'娱乐提醒') @this.helpers.business(4,'社交提醒')
            <ul class="pr_m hm_idx__notifi_bg" sn-if="showNotify==4">
                <li class="flex subitem bd_b ml_m" sn-repeat="item in messagesList.list|filter:item.push_to_home|orderBy:date desc" data-forward="{item.type==7?'/contact/person/'+item.user_id:('/contact/chat/'+item.user_id)}">
                    <i class="unread" sn-if="item.unread">+{item.unread}</i>
                    <img onerror="this.src='images/default.jpg'" sn-src="{sl.thumbnail(item.avatars)}" />
                    <div class="flexitem pl_m">
                        <div class="name fs_m">{item.user_name}</div>
                        <div class="fs_s cl_999 to_e con">{item.msg}</div>
                    </div>
                    <div class="pl_m">
                        <p class="date fs_s cl_999">{item.date?util.formatDate(item.date,'yyyy/MM/dd'):''}</p>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div sn-if="tab==2" class="hm_idx main" ref="ent">
        <!--<iframe ref="iframe" frameborder="0" style="width:{window.innerWidth}px;height:{iframeHeight}px" />-->
    </div>

    <div sn-if="tab==3" class="hm_quan__main" ref="quanTab" sn-require="widget/tab" sn-data="{{items:['公众圈','朋友圈','通讯录']}}">
        <div class="hm_pubquan">
            <div class="hm_pubquan__banner mb_l" ref="quanBanner">
            </div>

            <div class="bd_t mb_l bg_fff">
                <div class="bd_b lh_m ml_m ta_c mr_m">我关注的</div>
                <div class="ta_c bd_b lh_m fs_s cl_ccc" sn-if="!myfollowPublicQuan.length">暂未关注公众圈</div>
                <div class="hm_pubquan__myfollow bd_b" sn-repeat="item in myfollowPublicQuan">

                    <div class="bd" data-forward="/pubquan/article/{item.pub_quan_msg.msg_id}">
                        <div class="pb_s pl_m pt_m fs_l flex">
                            <div class="to_e flexitem">{item.pub_quan_msg.title}</div>
                            <p class="date fs_s mr_m cl_999">{util.formatDate(item.pub_quan_msg.add_date,"short")}</p>
                        </div>
                        <ul class="imgs clearfix">
                            <li class="img fl_l pl_m" sn-repeat="img in item.pub_quan_msg.imgs"><img sn-src="{sl.thumbnail(img)}" /></li>
                        </ul>
                    </div>
                    <div sn-if="item.pub_quan_msg" class="ft flex lh_s pl_m pb_m">
                        <div class="flex flexitem" data-forward="/pubquan/{item.quan_id}">
                            <p class="img cir_s mr_m">
                                <img class="cir_s" sn-src="{sl.resource(item.quan_pic)}" />
                            </p>
                            <p class="name flexitem"><span class="br_2 bg_ccc cl_fff pr_s pl_s fs_m">{item.quan_name}</span></p>
                        </div>
                        <p class="icon-see mr_m"><span class="ml_s va_m fs_s">{util.cnNum(item.pub_quan_msg.see)}</span></p>
                        <p class="icon-good mr_m"><span class="ml_s va_m fs_s">{util.cnNum(item.pub_quan_msg.likes)}</span></p>
                        <p class="icon-comment mr_m"><span class="ml_s va_m fs_s">{util.cnNum(item.pub_quan_msg.comments)}</span></p>
                    </div>
                </div>
            </div>

            <div class="bd_tb mb_l bg_fff">
                <div class="bd_b lh_m ml_m ta_c mr_m">我推荐的</div>
                <div class="ta_c lh_m fs_s cl_ccc" sn-if="!recommendPubQuan.length">暂未推荐公众圈</div>
                <div class="hm_pubquan__myfollow bd_b" sn-repeat="item in recommendPubQuan">

                    <div sn-if="item.pub_quan_msg" class="bd" data-forward="/pubquan/article/{item.pub_quan_msg.msg_id}">
                        <div class="pb_s pl_m pt_m fs_l flex">
                            <div class="to_e flexitem">{item.pub_quan_msg.title}</div>
                            <p class="date fs_s mr_m cl_999">{util.formatDate(item.pub_quan_msg.add_date,"short")}</p>
                        </div>
                        <ul class="imgs clearfix">
                            <li class="img fl_l pl_m" sn-repeat="img in item.pub_quan_msg.imgs"><img sn-src="{sl.thumbnail(img)}" /></li>
                        </ul>
                    </div>
                    <div sn-if="item.pub_quan_msg" class="ft flex lh_s pl_m pb_m">
                        <div class="flex flexitem" data-forward="/pubquan/{item.quan_id}">
                            <p class="img cir_s mr_m">
                                <img class="cir_s" sn-src="{sl.resource(item.quan_pic)}" />
                            </p>
                            <p class="name flexitem"><span class="br_2 bg_ccc cl_fff pr_s pl_s fs_m">{item.quan_name}</span></p>
                        </div>
                        <p class="icon-see mr_m"><span class="ml_s va_m fs_s">{util.cnNum(item.pub_quan_msg.see)}</span></p>
                        <p class="icon-good mr_m"><span class="ml_s va_m fs_s">{util.cnNum(item.pub_quan_msg.likes)}</span></p>
                        <p class="icon-comment mr_m"><span class="ml_s va_m fs_s">{util.cnNum(item.pub_quan_msg.comments)}</span></p>
                    </div>
                </div>
            </div>

        </div>

        <div class="hm_quan">
            <div class="hm_quan__item bd_b" sn-repeat="quan in quanData">
                <div class="flex_t pt_m pb_m">
                    <p class="avatars ml_m mr_m" data-forward="/contact/friend/{quan.user_id}"><img onerror="this.src='images/default.jpg'" src="{sl.thumbnail(quan.avatars)}" /></p>
                    <div class="bd flexitem lh_xxs">
                        <p class="name cl_dark fs_m" data-forward="/contact/friend/{quan.user_id}">{this.getUserShowName(quan)}</p>
                        <p class="con fs_m" sn-html="{quan.content}" sn-long-tap="delegate.showQuanControl(quan,e)"></p>
                        <ul class="imgs clearfix mt_s">
                            <li class="img fl_l mr_m" sn-repeat="img,i in quan.imgs" sn-long-tap="delegate.showQuanControl(quan,e)" sn-tap="this.showImages(quan.imgs,i)"><img sn-src="{sl.thumbnail(img)}" /></li>
                        </ul>
                        <div class="bar flex fs_s mt_s">
                            <p class="date flexitem">{util.formatDate(quan.add_date,"short")}</p>
                            <p class="icon-del2 pr_m" sn-if="quan.user_id!=user.user_id" sn-tap="this.blackQuanMsg(quan.msg_id)"><span class="va_m ml_s">删除</span></p>
                            <p class="icon-good pr_m" sn-tap="this.likeQuanMsg(quan.msg_id)"><span class="va_m ml_s">赞</span></p>
                            <p class="icon-comment2 pr_m" sn-tap="this.commentQuanMsg(quan.msg_id)"><span class="va_m ml_s">评论</span></p>
                        </div>
                        <ul class="comment fs_s" sn-if="quan.quan_likes.length || quan.quan_comments.length">
                            <li sn-if="quan.quan_likes.length" class="quan-like"><span class="va_m mr_m cl_dark" sn-repeat="item in quan.quan_likes">{this.getUserShowName(item)}</span></li>
                            <li sn-repeat="item in quan.quan_comments"><a sn-tap="this.commentQuanMsg(quan.msg_id,item.user_id,this.getUserShowName(item))" href="javascript:;"><i class="cl_dark">{this.getUserShowName(item)}</i>：<span>{item.content}</span></a></li>
                        </ul>
                    </div>
                </div>

            </div>

        </div>

        <div class="hm_contacts">
            <ul class="bd_tb pt_1 hm_contacts__business_list">
                <li class="flex pl_m h_bar bg_fff bd_b ps_r" data-forward="/contact/new">
                    <p class="icon-newfriend "><i sn-if='friends.newFriendsCount' class="unread">{friends.newFriendsCount}</i></p>
                    <p class="ml_l">新的朋友</p>
                </li>
                <li class="flex pl_m h_bar bg_fff bd_b" data-forward="/contact/contactlist">
                    <p class="icon-person2"></p>
                    <p class="ml_l flexitem">手机联系人</p>
                    <p class="hm_contacts__backup" sn-tap="this.backup()">备份</p>
                </li>
                <li class="flex pl_m h_bar bg_fff bd_b" data-forward="/contact/friends">
                    <p class="icon-person3"></p>
                    <p class="ml_l">我的好友</p>
                </li>
            </ul>
            <div class="bd_tb mt_l pt_1 h_bar bg_fff flex pl_m" sn-tap="isShowMessageList=!isShowMessageList">
                <p class="icon-contact2"></p>
                <p class="flexitem ml_l fs_m">我的消息</p>
                <p class="hm-icons-drop ta_r {isShowMessageList?'show':''} mr_m"></p>
            </div>
            <ul class="hm_contacts__messages" sn-if="isShowMessageList&&messagesList.list.length">
                <li class="flex h_bar bd_b bg_fff fs_m ps_r" sn-repeat="item in messagesList.list|filter:item.enable_leave_msg|orderBy:date desc" data-forward="/contact/chat/{item.user_id}">
                    <i class="unread" sn-if="item.unread">+{item.unread}</i>
                    <p class="img ml_m"><img onerror="this.src='images/default.jpg'" sn-src="{sl.resource(item.avatars)}" /></p>
                    <p class="flexitem h_bar ml_l pt_s"><span class="name dp_b">{this.getUserShowName(item)}</span>
                        <span class="cl_light fs_s msg dp_b lh_1 to_e" style="width:1.9rem">{item.msg}</span>
                    </p>
                    <p class="date h_bar mr_m pt_s fs_s">{util.formatDate(item.date,"short")}</p>
                </li>
            </ul>
        </div>
    </div>
    <!--<button class="quan-publish" sn-if="tab==3&&quanTab.index==0" data-forward="/pubquan/publish"></button>-->

    <button class="quan-call" sn-if="tab==3&&quanTab.index==2" sn-tap="this.phoneCall()"></button>

    <div sn-if="tab==4" class="hm_uc main pt_m" ref="uc">

        <div class="bd_tb flex mb_m pd_m bg_fff">
            <img onerror="this.src='images/default.jpg'" sn-src="{sl.resource(user.avatars)}" class="g_avatars dp_b ml_m" data-forward="/user/person" />
            <p class="fs_m ml_m flexitem" data-forward="/user/person">
                <span class="name dp_b">{user.user_name}</span>
                <span class="msg dp_b cl_999">ID：{user.user_id}</span>
            </p>
            <p class="user-qrcode2 mr_m" data-forward="/user/qrcode"></p>
        </div>

        <div class="flex bd_t bg_fff h_bar pl_m pr_m">
            <div class="user-space"></div>
            <div class="pl_m">我的空间</div>
        </div>
        <div class="flex mb_m bd_tb bg_fff pl_m h_bar">
            <div class="user-family"></div>
            <div class="pl_m">我的家庭</div>
        </div>

        <div class="flex bd_t bg_fff h_bar pl_m pr_m">
            <div class="user-life"></div>
            <div class="pl_m">我的生活</div>
        </div>
        <div class="flex mb_m bd_tb bg_fff pl_m h_bar">
            <div class="user-card"></div>
            <div class="pl_m">我的钱包</div>
        </div>

        <div class="flex bd_t bg_fff h_bar pl_m pr_m">
            <div class="user-car"></div>
            <div class="pl_m">我的出行</div>
        </div>
        <div class="flex mb_m bd_tb bg_fff pl_m h_bar">
            <div class="user-job"></div>
            <div class="pl_m">我的工作</div>
        </div>
    </div>

    <footer class="footer bd_t">
        <div>
            <button class="icon-home{tab==1?'_curr curr':''}" sn-tap="delegate.toggleTabToHome()">
                <span>生活</span>
            </button>
            <button class="icon-ent{tab==2?'_curr curr':''}" sn-tap="delegate.toggleTabToEnt()">
                <span>娱乐</span>
            </button>
            <button class="icon-quan{tab==3?'_curr curr':''}" sn-tap="delegate.toggleTabToQuan()">
                <span>圈子</span>
            </button>
            <button class="icon-uc{tab==4?'_curr curr':''}" sn-tap="delegate.toggleTabToUC()">
                <span>我的</span>
            </button>
        </div>
    </footer>
</div>
<div class="hm_quan__menu_mask" style="display:none" ref="quanMenuMask" sn-tap="this.hideQuanMenu()">
</div>
<div class="hm_quan__menu" ref="quanMenu" style="display:none;right: 5px;">
    <ul>
        <!--<li class="pl_m icon-edit2" sn-tap="this.hideQuanMenu('/pubquan/publish')">
            <span class="va_m ml_s">发帖子</span>
        </li>
        <li class="pl_m icon-bill2" sn-tap="this.hideQuanMenu('/pubquan/myarticles')">
            <span class="va_m ml_s">我的帖子</span>
        </li>-->
        <li class="pl_m icon-quansend" sn-tap="this.hideQuanMenu('/quan/publish')">
            <span class="va_m ml_s">发朋友圈</span>
        </li>
        <li class="pl_m icon-gallery" sn-tap="this.hideQuanMenu('/quan/history')">
            <span class="va_m ml_s">我的历史</span>
        </li>
        <li class="pl_m icon-scan2" sn-tap="delegate.scan()">
            <span class="va_m ml_s">扫一扫</span>
        </li>

    </ul>
</div>

<div class="hm_idx__to_mask dock" style="display:none" ref="timeoutMask">
</div>
<div class="hm-timeout g_center" ref="timeout" style="display:none">
    <div class="close" sn-tap="this.hideTimeout()"></div>
    <div class="ft">还有{next.timeLeft}秒后才能收获</div>
</div>