<div ref="main" class="main uc_login">
    <ul class="uc_login__form bd_tb">
        <li class="bd_b flex">
            <div class="icon-person ml_s"></div>
            <input class="flexitem ml_s fs_s" placeholder="请输入您的手机号码（目前仅支持福建移动用户）" sn-model="phoneNo" type="tel" />
        </li>
        <li class="flex">
            <div class="icon-msg ml_s"></div>
            <input class="flexitem ml_s" placeholder="请输入短信验证码" sn-model="password" type="text" />
            <button class="btn_s ml_s mr_s" sn-tap="this.sendSms()" disabled="{smsTime>0}">{smsTime<=0?'获取验证码':(smsTime+'秒后重发')}</button>
        </li>
    </ul>
    <div class="mg_m"><button class="btn_xl" sn-tap="this.login()">立即登录</button></div>
    <div class="mg_l fs_m">
        <a href="/forget" forward class="cl_app">忘记密码?</a>
        <a href="/signup" forward class="fl_r">没有帐号，<i class="cl_app">立即注册</i></a>
    </div>
</div>