<header>
    <div class="head_back"></div>
    <div class="head_title">注册</div>
</header>
<div ref="main" class="main">
    <ul class="uc_signup__form bd_tb">
        <li class="flex bd_b">
            <div class="icon-person ml_s"></div>
            <input class="flexitem fs_m ml_s" placeholder="请输入您的邮箱" sn-model="email" type="email" />
        </li>

        <li class="flex bd_b">
            <div class="icon-msg ml_s"></div>
            <input class="flexitem ml_s fs_m" placeholder="请输入短信验证码" sn-model="password" type="password" />
            <button class="btn_s ml_s mr_s">获取验证码</button>
        </li>
        <li class="flex">
            <div class="icon-info ml_s"></div>
            <input class="flexitem fs_m ml_s" placeholder="请输入密码" sn-model="password" type="text" />
        </li>
    </ul>
    <div class="mg_m fs_m"><span class="checkbox {agree?'checked':''}" sn-tap="agree=!agree"></span><span class="va_m">我已阅读并同意<a href="/licence" class="cl_app">《和生活用户使用协议》</a></span></div>
    <div class="mg_m mt_xxl"><button class="btn_xl">立即注册</button> </div>
</div>