<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
    <div class="head_right"><button class="btn_xs cl_333" sn-tap="this.showMenu()">设置</button></div>
</header>
<div class="main g_has_footer" ref="main">
</div>
<div class="hm_quan__menu_mask" style="display:none" ref="menuMask" sn-tap="this.hideMenu()">
</div>
<div class="hm_quan__menu hdh_call__menu" ref="menu" style="display:none">
    <ul>
        <li class="pl_m icon-add" sn-tap="this.add()">
            <span class="va_m ml_s">新增副号</span>
        </li>
        <li class="pl_m icon-phone" sn-repeat="item,j in subPhoneList" sn-tap="this.setSubphone(item.subphone)">
            <span class="va_m ml_s">{item.alias||('副号'+(j+1))}</span>
        </li>
    </ul>
</div>
<footer class="g_footer bd_t pt_xs">
    <div class="hdh-phone ta_c" sn-tap="isShowKeybord=true">
        <p class="fs_xs">拨号</p>
    </div>
</footer>

<div class="hdh_keyboard" sn-if="isShowKeybord">
    <div class="input bd_t flex h_m pl_m">
        <p class="fs_l"><span sn-if="!number" class="fs_m">请输入号码或拼音</span>{number}</p>
    </div>
    <div class="bd_t h_bar flex">
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(1)">1</button>
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(2)">2</button>
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(3)">3</button>
    </div>
    <div class="h_bar flex">
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(4)">4</button>
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(5)">5</button>
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(6)">6</button>
    </div>
    <div class="h_bar flex">
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(7)">7</button>
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(8)">8</button>
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(9)">9</button>
    </div>
    <div class="h_bar flex">
        <button class="bg_fff flexitem fs_xxl fw_b" sn-click="this.number('*')">*</button>
        <button class="bg_fff flexitem fs_xl" sn-click="this.number(8)">0</button>
        <button class="bg_fff flexitem fs_xl fw_b" sn-click="this.number('#')">#</button>
    </div>
    <div class="flex hdh_keyboard__ft">
        <button class="hdh-phone ta_c flex_1 bg_fff" sn-tap="isShowKeybord=false">
            <p class="fs_xs">拨号</p>
        </button>
        <button class="hdh-call ta_c flex_1 bg_fff" sn-tap="this.call()">
        </button>
        <button class="hdh-clear ta_c flex_1 bg_fff" sn-click="number=''">
            <p class="fs_xs">清空</p>
        </button>
    </div>
</div>