<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="hdh_index main bg_fff" ref="main">
    <div class="hdh_index__banner">
        <img src="images/hdh_banner.png" class="w_x1" />
    </div>
    <div class="pt_xl pl_m">
        请选择号码
    </div>
    <ul class="pt_l mb_m">
        <li class="mb_l bd_app hdh_index__num {selected==i?'bg_app cl_fff':''}" sn-tap="selected=i" sn-repeat="phone,i in poollist">{phone}</li>
    </ul>
    <div class="ta_c fs_m">号码所在地：{locationname}</div>
    <div class="pt_m pl_m">
        副号别名：
    </div>
    <div class="flex h_m pl_m bd_b ml_m mr_m">
        <input class="flex_0 h_m" type="text" placeholder="请输入开通副号的别名，如未输入，默认副号1" />
    </div>
    <div class="flex h_m pl_m bd_b ml_m mr_m mb_m">
        <input class="flex_0 h_m" sn-model="sms"  type="text" placeholder="请输入短信验证码" />
        <button class="btn_s ml_s mr_s" sn-tap="this.sendSms()" disabled="{smsTime>0}">{smsTime<=0?'获取验证码':(smsTime+'秒后重发')}</button>
    </div>
    <div class="pl_m mb_xl fs_m"><span class="checkbox {agree?'checked':''}" sn-tap="agree=!agree"></span><span class="va_m">我已阅读，<a href="/licence" class="cl_app">同意业务条款</a>，确认开通</span></div>
    <div class="pl_l pr_l mb_l"><button class="btn_xl" sn-tap="this.bindEntityConfirm()">立即办理</button></div>
</div>