<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main pt_m" ref="main">
    <div class="flex h_bar bg_fff bd_tb pr_m">
        <div class="flexitem pl_m">
            <p class="mobi cl_app">{info.subphone}</p>
            <p class="fs_xs">副号关机并不影响主号使用</p>
        </div>
        <div class="cp_switch{info.state.charAt(0)!=1?'':' cp_switch_on'}" sn-tap="delegate.setPower(info.state.charAt(0)!=1)"></div>
    </div>
    <div class="flex h_bar bg_fff bd_b pr_m">
        <div class="flexitem pl_m">
            默认拨号
        </div>
        <div class="cp_switch{info.isDefault?' cp_switch_on':''}" sn-tap="info.isDefault=!info.isDefault"></div>
    </div>
    <div class="flex h_bar bg_fff bd_b mb_m" sn-tap="delegate.setMemo()">
        <div class="flexitem pl_m">
            副号别名
        </div>
        <p class="g_arrow pr_xl">{info.alias||defAlias}</p>
    </div>

    <div class="flex h_bar bg_fff bd_tb mb_m">
        <div class="flexitem pl_m">
            定时开关
        </div>
        <p class="g_arrow pr_xl"></p>
    </div>

    <div class="flex h_bar bg_fff bd_tb pr_m">
        <div class="flexitem pl_m">
            不接电话{info.state}
        </div>
        <div class="cp_switch{(info.state.charAt(0)==2||info.state.charAt(0)==4)?' cp_switch_on':''}" sn-tap="delegate.interceptSms(info.state.charAt(0)==2||info.state.charAt(0)==4)"></div>
    </div>
    <div class="h_m fs_m pr_m pl_m pt_s">
        开启后，该副号所有来电将被拦截。
    </div>
    <div class="flex h_bar bg_fff bd_tb pr_m">
        <div class="flexitem pl_m">
            不收短信
        </div>
        <div class="cp_switch{(info.state.charAt(0)==3||info.state.charAt(0)==4)?' cp_switch_on':''}" sn-tap="delegate.interceptCall(info.state.charAt(0)==3||info.state.charAt(0)==4)"></div>
    </div>
    <div class="h_m fs_m pr_m pl_m pt_s">
        开启后，该副号所有短彩信将被拦截。
    </div>
</div>