<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{data.title}</div>
</header>
<div class="main pq_article pt_1" ref="main">
    <div class="pd_m bg_fff bd_b">
        <p class="fs_l">{data.title}</p>
        <div class="flex mt_m"><img sn-src="{sl.resource(quan.quan_pic)}" alt="" class="cir_m sp_b">
            <div class="flexitem ml_m">
                <p class="fs_m">{quan.quan_name}</p>
                <p class="fs_s cl_999">{util.formatDate(data.date)}</p>
            </div>
            <button class="btn_bd_s dp_b" sn-tap="this.follow()"><i class="va_m">{follow.is_follow?' ':'＋'}</i><span class="va_m">{follow.is_follow?'取消关注':'关注'}</span></button>
        </div>
        <div class="mt_l mb_l fs_m lh_xs of_h">
            <div sn-html="data.content" class="pq_article__con"></div>
            <img sn-src="{sl.resource(img)}" sn-repeat="img in data.imgs" class="dp_b mg_a mw_app" />
        </div>
        <div class="mt_xxl mb_l ta_c pq_article__action">
            <div class="icon-newslike dp_ib cir_xl" sn-tap="this.likePubQuanMsg()">
                <p class="fs_s">{util.cnNum(data.likes)||0}</p>
            </div>
            <div class="icon-newssee dp_ib cir_xl">
                <p class="fs_s">{util.cnNum(data.see)||0}</p>

            </div>
        </div>
    </div>

    <div class="pq_article__comments bd_tb bg_fff mt_l" ref="comments">
        <div class="lh_m pl_m bd_b fs_m flex">
            <div class="flexitem">评论</div>
            <p class="icon-refresh sqr_d ta_r pr_m" sn-tap="this.reloadComments()"></p>
            <p class="sort" sn-tap="this.sortBy()"><span>倒序</span>
                <i class="icon-sort"></i></p>
        </div>
        <div class="pq_article__comments_item bd_b ml_m pb_m" sn-repeat="item in comments">
            <div class="flex pt_m con">
                <img onerror="this.src='images/default.jpg'" sn-src="{sl.resource(item.avatars)}" class="cir_s" />
                <div class="flexitem ml_m">
                    <p class="fs_m">{this.getUserShowName(item)}</p>
                    <p class="fs_s cl_999">{util.formatDate(item.add_date)}</p>
                </div>
                <a sn-if="item.user_id!=user.user_id" class="icon-comment dp_b" href="javascript:;" sn-tap="this.comment(item.comment_id,item.user_id,this.getUserShowName(item))"></a>
                <a sn-if="item.user_id==user.user_id" sn-tap="this.delComment(item.comment_id)" class="icon-del2 dp_b" href="javascript:;"></a>
            </div>
            <div class="mt_s pb_m fs_m">
                {item.content}
            </div>
            <ul class="fs_s pd_m bg_eee mr_m" sn-if="item.replys.length">
                <li sn-repeat="reply in item.replys" class="h_xxs"><a sn-tap="this.comment(item.comment_id,reply.user_id,this.getUserShowName(reply))" href="javascript:;" class="flex"><i class="cl_dark">{this.getUserShowName(reply)}</i><em>：</em><span>{reply.content}</span></a></li>
            </ul>
        </div>
    </div>

</div>
<footer class="pq_article__chatbox bd_t flex">
    <div class="text flexitem pt_s pl_m" sn-tap="this.comment()">
        <span class="fs_m cl_ccc dp_b">说几句话吧...</span>
    </div>
    <!--<div class="icon-comment3 sqr_l" data-forward="/pubquan/myarticles"></div>-->
    <div class="{isFav?'icon-heart2':'icon-heart3'} sqr_l" sn-tap="this.fav()"></div>
</footer>