<header class="header_trans">
    <div class="head_back" sn-tap="this.back()"></div>
</header>
<div class="main pq_item" ref="main">
    <div class="pq_item__info">
        <div class="flex_t pt_l">
            <div class="img ml_l"><img sn-src="{sl.resource(quanInfo.quan_pic)}" /></div>
            <div class="flexitem ml_l">
                <div class="name fs_m">{quanInfo.quan_name}</div>
                <div class="follow fs_s mt_l">{util.cnNum(quanInfo.follow_num)}关注 | {newLength}新帖</div>
            </div>
            <button class="pq_item__header_btn" sn-tap="this.follow()">{quanInfo.is_follow?'取消关注':'关注'}</button>
        </div>
        <div class="cl_fff lh_xs fs_m pt_s ml_m mr_m to_e2">{quanInfo.summary}</div>
    </div>
    <div class="pq_item__articles">
        <div class="hd">最新帖子</div>
        <div class="pq_item__articles_item bd_tb bg_fff mb_l" sn-repeat="item in newArticles|orderBy:add_date desc" data-forward="/pubquan/article/{item.msg_id}">
            <div class="title fs_m h_m lh_m ml_m mr_m flex">
                <p class="to_e flex_0">{item.title}</p>
                <p class="date pl_m fs_s">{util.formatDate(item.add_date,'short')}</p>
            </div>
            <ul class="imgs clearfix">
                <li class="img fl_l ml_m" sn-repeat="img in item.imgs"><img sn-src="{sl.thumbnail(img)}" /><img sn-src="{sl.thumbnail(img)}" /><img sn-src="{sl.thumbnail(img)}" /><img sn-src="{sl.thumbnail(img)}" /></li>
            </ul>
            <div class="flex lh_s fs_s pb_m pt_s">
                <img sn-src="{sl.resource(quanInfo.quan_pic)}" class="dp_b cir_s ml_m" />
                <p class="ml_s">{quanInfo.quan_name}</p>
                <p class="flexitem ml_m"><span class="ml_s va_m fs_s">{util.cnNum(item.see)}看过</span></p>
                <p class="icon-good mr_m"><span class="ml_s va_m fs_s">{util.cnNum(item.likes)}</span></p>
                <p class="icon-comment mr_m"><span class="ml_s va_m fs_s">{util.cnNum(item.comments)}</span></p>
            </div>
        </div>
    </div>
</div>