<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main pt_l" ref="main">
    <div class="bd_t pt_1 bg_fff">
        <div class="flex_t pt_s pb_s bd_b" sn-repeat="item in data"  data-forward="/pubquan/article/{item.msg_id}">
            <p class="ta_c w_l"><span class="dp_b fs_l">{util.formatDate(item.date,'dd')}</span><em class="dp_b fs_xs">{util.formatDate(item.date,'M月')}</em></p>
            <div class="flexitem">
                <p class="name to_e">{item.title}</p>
                <p class="con to_e3 pt_s pb_s fs_m">{item.content}</p>
                <ul class="imgs clearfix pb_s">
                    <li class="img fl_l pr_m" sn-repeat="img in item.imgs"><img sn-src="{img}" /></li>
                </ul>
                <div class="flex pb_s fs_s">
                    <img sn-src="{item.quan.quan_pic}" class="dp_b mr_m cir_xs" data-forward="/pubquan/{item.quan.quan_id}">
                    <p class="mr_m" data-forward="/pubquan/{item.quan.quan_id}">{item.quan.quan_name}</p>
                    <p class="flexitem">{util.cnNum(item.see)}看过</p>
                    <a class="icon-good mr_m" href="javascript:;">
                        <span class="va_m">{util.cnNum(item.like)}</span>
                    </a>
                    <a class="icon-comment mr_m" href="javascript:;">
                        <span class="va_m">{util.cnNum(item.comment)}</span>
                    </a>
                    <a class="icon-del2 mr_m" href="javascript:;">
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>