<header class="flex">
    <form ref="searchform" class="ml_m flexitem flex hm_quan__search">
        <div class="icon-search sqr_s"></div>
        <input type="search" sn-model="search" ref="search" class="flexitem fs_m" placeholder="搜索{quanTab.index==0?'公众圈':quanTab.index==1?'朋友圈':'通讯录'}" />
    </form>
    <button class="h_bar pl_m pr_m bg_fff fs_m" sn-tap="this.back()">取消</button>
</header>
<div class="main pq_search" ref="main">
    <div sn-repeat="item in searchResult" class="h_l flex pl_s bg_fff bd_b" data-forward="/pubquan/{item.quan_id}">
        <img sn-src="{item.quan_pic}" class="sqr_m mr_m">
        <p class="fs_m">{item.quan_name}</p>
    </div>
    <div class="fs_m cl_999 ta_c lh_l" sn-if="isSearch&&!searchResult.length">未搜到结果</div>
    <div class="bd_b ml_m mr_m lh_m fs_m cl_666">热门圈子</div>
    <ul class="clearfix pl_m">
        <li class="pq_search__hot" sn-repeat="item in recommend" data-forward="/pubquan/{item.quan_id}">{item.quan_name}</li>
    </ul>
</div>