<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
    <div class="head_right"><button sn-tap="this.save()">确定</button></div>
</header>
<div class="main pt_m" ref="main">
    <ul class="bd_t bg_fff">
        <li class="bd_b h_l flex " sn-repeat="item in list" sn-tap="this.selectItem(item)">
            <p class="radio{item.isSelected?' checked':''}"></p>
            <img sn-src="{sl.resource(item.quan_pic)}" class="dp_b sqr_m">
            <p class="name ml_m">{item.quan_name}</p>
        </li>
    </ul>
</div>