<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main ct_backup" ref="main">
    <div class="g_center ct_backup__con">
        <div class="ct_backup__bu flex fw_s" sn-tap="this.backup()">
            <p class="quan-upload ml_m"></p>
            <div class="flexitem ml_m">
                <p class="fs_m">备份通讯录</p>
                <p class="fs_s mt_m">上传手机通讯录到我的空间</p>
            </div>
        </div>
        <div class="ct_backup__recover flex fw_s" sn-tap="this.download()">
            <p class="quan-upload ml_m"></p>
            <div class="flexitem ml_m">
                <p class="fs_m">恢复通讯录</p>
                <p class="fs_s mt_m">下载我的空间通讯录到手机</p>
            </div>
        </div>
    </div>
    <div class="ct_backup__footer flex dock_blr h_l bg_fff fs_m">
        <p class="icon-contact ml_l"></p>
        <div class="flexitem ml_m">通讯录 本地：{locCount||0}</div>
        <p class="icon-query"></p>
        <div class="flexitem ml_m">我的空间：{netCount||0}</div>
    </div>
</div>