<header>
    <button class="head_back" sn-tap="this.back()"></button>
    <div class="head_title">{friend.user_name}</div>
</header>
<div class="main ct_chat" ref="main">
    <div class="refreshing" sn-if="showMore">
        <p class="loading" sn-if="showMoreLoading"></p>
        <p class="msg">{moreMsg}</p>
    </div>
    <div class="ct_chat__item flex_t {item.from_id==user.user_id?'curr flex_re':''}" sn-repeat="item in messages">
        <div class="date" sn-if="item.isShowTime">{util.formatDate(item.add_date,'minutes')}</div>
        <img sn-src="{sl.resource(item.from_id==user.user_id?user.avatars:friend.avatars)}" class="sqr_d">
        <div class="con">
            <div sn-if="item.type==1" class="fs_m">{item.content}</div>
            <img sn-else-if="item.type==2" sn-src="{sl.resource(item.content)}" />
        </div>
    </div>
    <div class="pt_l"></div>
</div>
<div class="ct_chat__footer dock_blr flex bd_t h_l">
    <button class="icon-face"></button>
    <form class="ct_chat__textbox flexitem ml_m" ref="send"><input sn-model="content" value="{content}" type="text" ref="text" sn-focus="this.scrollToEnd()" /></form>
    <button class="send pd_m bg_trans fs_m cl_333" disabled="{!content}" sn-tap="this.send()">发送</button>
</div>