<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main ct_contactlist" ref="main">
    <div class="ct_contactlist__search">
        <form class="ps_r zi_1 flex">
            <p class="icon-search ml_m"></p>
            <input type="text" class="bd_n ml_s flexitem fs_m" placeholder="搜索好友" />
        </form>
    </div>

    <div class="ct_contactlist__group" sn-repeat="group in this.groups()">
        <div class="hd fs_m pd_s ml_m">{group.letter}</div>
        <ul class="ct_contactlist__list bd_t bg_fff">
            <li class="bd_b flex" sn-repeat="item in group.list" data-forward="/contact/friend/{item.user_id}">
                <img onerror="this.src='images/default.jpg'" sn-src="{sl.resource(item.avatars)}" class="dp_b sqr_s" />
                <div class="flexitem ml_m">
                    <p class="fs_l">
                        {item.name_for_show}
                    </p>
                </div>
                <button class="quan-call3" sn-tap="delegate.phoneCall(item.account)"></button>
                <button class="quan-sms" sn-tap="delegate.sendSms(item.account)"></button>
            </li>
        </ul>
    </div>
</div>
<ul class="ct_friends__letters">
    <li class="icon-search2"></li>
    <li sn-repeat="item in letters"><a href="javascript:;">{item}</a></li>
    <li>#</li>
</ul>