<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div class="main" ref="main">
    <div class="bd_tb mt_m pd_m flex_t bg_fff ps_r">
        <img onerror="this.src='images/default.jpg'" class="sqr_xl dp_b" sn-src="{sl.resource(person.avatars)}" />
        <div class="ml_l flexitem">
            <p class="name fs_l">{person.user_name}</p>
            <p class="fs_s mt_xs">我信ID:{person.user_id}</p>
            <p class="fs_s mt_xs">个性签名：{person.sign_text}</p>
        </div>
        <p class="dock_tr fs_s mr_s mt_xs pt_s">{person.address}</p>
    </div>
    <ul class="mt_l bd_t fs_m bg_fff">
        <li class="bd_b lh_l pl_m g_arrow" sn-tap="this.toMemo()">
            备注：{person.friends_ext.memo}
        </li>
    </ul>

    <div class="mt_l bd_tb fs_m bg_fff lh_l pl_m flex">
        <p class="flexitem">好友留言信息</p>
        <p class="mr_m cp_switch{person.friends_ext.enable_leave_msg?' cp_switch_on':''}" sn-tap="person.friends_ext.enable_leave_msg=!person.friends_ext.enable_leave_msg"></p>
    </div>

    <div class="mt_l bd_tb fs_m bg_fff lh_l pl_m flex">
        <p class="flexitem">推送到生活首页</p>
        <p class="mr_m cp_switch{person.friends_ext.enable_push?' cp_switch_on':''}" sn-tap="person.friends_ext.enable_push=!person.friends_ext.enable_push"></p>
    </div>

    <div class="mt_l bd_tb fs_m bg_fff lh_l pl_m" sn-tap="this.clearHistory()">
        清空聊天记录
    </div>

    <div class="mt_l bd_tb fs_m bg_fff lh_l pl_m" sn-tap="this.deleteFriend()">
        删除联系人
    </div>

    <div class="mg_m mb_l ta_c pt_m">
        <button class="quan-call2 bg_0000 mr_m" sn-tap="this.openPhoneCall()"></button>
        <button class="quan-message bg_0000 ml_m" data-forward="/contact/chat/{person.user_id}"></button>
    </div>
</div>