<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main">
    <ul class="bd_t uc_fav mt_l">
        <li class="bd_b flex_t bg_fff uc_fav__item" sn-repeat="item in data">
            <p class="img avatars"><img onerror="this.src='images/default.jpg'" sn-src="{sl.resource(item.fav_type==2?item.quan_msgs.avatars:item.pub_quan_msg.quan_pic)}" class="dp_b" /></p>
            <div class="con flexitem mt_m fs_m">
                <p class="name">{item.type==2?item.quan_msgs.user_name:item.pub_quan_msg.quan_name}</p>
                <div class="summary" sn-html="{item.type==2?item.quan_msgs.content:item.pub_quan_msg.title}"></div>
                <ul class="clearfix" sn-if="item.pub_quan_msg.length">
                    <li class="fl_l mr_m mt_m" sn-repeat="img in item.pub_quan_msg.imgs"><img sn-src="{sl.resource(img)}" class="g_img" /></li>
                </ul>
                <ul class="clearfix" sn-if="item.quan_msgs.length">
                    <li class="fl_l mr_m mt_m" sn-repeat="img in item.quan_msgs.imgs"><img sn-src="{sl.resource(img)}" class="g_img" /></li>
                </ul>
            </div>
            <p class="date">今天</p>
            <p class="icon-del" sn-tap="this.del(item.fav_id)"></p>
        </li>
    </ul>
</div>