<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
    <div class="head_right"><button sn-tap="this.clear()">清除</button></div>
</header>
<div ref="main" class="main bg_fff">
    <ul class="uc_messages__head flex fs_m">
        <li class="{type==0?'curr new':''} flexitem" sn-tap="type=0"><span class="va_m">活动消息</span></li>
        <li class="{type==1?'curr':''} flexitem" sn-tap="type=1"><span class="va_m">系统消息</span></li>
    </ul>
    <div class="mt_l bd_t fs_m uc_messages__bd dock_blr" sn-display="type==0" ref="messages">
        <ul>
            <li sn-repeat="item in messages" class="uc_messages__item bd_b">
                <p class="title unread mt_s">{item.title}</p>
                <p class="summary cl_999 fs_s to_e mr_l">{item.summary}</p>
                <p class="date cl_999 fs_s">{util.formatDate(item.date,'yyyy-MM-dd')}</p>
            </li>
        </ul>
    </div>
    <div class="mt_l bd_t fs_m uc_messages__bd dock_blr" sn-display="type==1" style="display:none" ref="system">
        <ul>
            <li sn-repeat="item in sysmessages" class="uc_messages__item bd_b">
                <p class="title unread mt_s">{item.title}</p>
                <p class="summary cl_999 fs_s to_e mr_l">{item.summary}</p>
                <p class="date cl_999 fs_s">{util.formatDate(item.date,'yyyy-MM-dd')}</p>
            </li>
        </ul>
    </div>
</div>