<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main fs_m">

    <div class="bd_tb flex mt_l bg_fff pt_m pb_m" sn-tap="this.changeAvatars()">
        <p class="flexitem ml_m">头像</p>
        <img sn-src="{user.avatars}" class="gl_avatars dp_b mr_m">
    </div>

    <ul class="mt_l bg_fff pt_1">
        <li class="bd_b lh_bar h_bar pl_m pr_m gl_arrow" data-forward="/user/qrcode">
            二维码名片
        </li>
        <li class="bd_b lh_bar h_bar pl_m pr_m flex" data-forward="/user/set/user_name">
            <p class="flexitem">昵称</p>
            <p class="ta_r">{user.user_name}</p>
        </li>
    </ul>
    <ul class="mt_l bg_fff pt_1">
        <li class="bd_b lh_bar h_bar pl_m pr_m flex" data-forward="/user/set/sign_text">
            <p class="flexitem">个性签名</p>
            <p class="ta_r">{user.sign_text}</p>
        </li>
        <li class="bd_b lh_bar h_bar pl_m pr_m flex" data-forward="/user/set/gender">
            <p class="flexitem">性别</p>
            <p class="ta_r">{user.gender==1?'男':'女'}</p>
        </li>
    </ul>
    <ul class="mt_l bg_fff pt_1">
        <li class="bd_b lh_bar h_bar pl_m pr_m flex" data-forward="/user/set/hometown">
            <p class="flexitem">家乡</p>
            <p class="ta_r">{user.hometown}</p>
        </li>
        <li class="bd_b lh_bar h_bar pl_m pr_m flex" data-forward="/user/set/address">
            <p class="flexitem">地区</p>
            <p class="ta_r">{user.address}</p>
        </li>
    </ul>
</div>