<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main">
    <div class="mt_m ml_m fs_m cl_999">通讯录</div>
    <ul class="mt_s bd_t bg_fff pt_1 fs_m">
        <li class="bd_b lh_bar h_bar pl_m pr_m flex">
            <p class="flexitem">加我为好友时需要验证</p>
            <div class="cp_switch{valid_new_friend==1?' cp_switch_on':''}" sn-tap="this.update('valid_new_friend')"></div>
        </li>
    </ul>
    <div class="mt_s ml_m mr_m fs_m cl_999">开启后，别人加我为朋友时需进行验证，通过才能成为好友</div>
    <ul class="mt_l bd_t bg_fff pt_1 fs_m">
        <li class="bd_b lh_bar h_bar pl_m pr_m flex">
            <p class="flexitem">通过昵称、和生活ID搜索到我</p>
            <div class="cp_switch{can_search_me==1?' cp_switch_on':''}" sn-tap="this.update('can_search_me')"></div>
        </li>
    </ul>
    <div class="mt_s ml_m mr_m fs_m cl_999">关闭后，别人将不能通过手机号搜索到你</div>
    <ul class="mt_l bd_t bg_fff pt_1 fs_m">
        <li class="bd_b lh_bar h_bar pl_m pr_m flex">
            <p class="flexitem">不让他（她）通过和生活拨号给我</p>
            <div class="cp_switch{can_someone_call_me==1?' cp_switch_on':''}" sn-tap="this.update('can_someone_call_me')"></div>
        </li>
        <li class="bd_b lh_bar h_bar pl_m pr_m flex">
            <p class="flexitem">允许陌生人拨号给我</p>
            <div class="cp_switch{can_call_me==1?' cp_switch_on':''}" sn-tap="this.update('can_call_me')"></div>
        </li>
    </ul>
    <div class="mt_m ml_m fs_m cl_999">朋友圈</div>
    <ul class="mt_s bg_fff pt_1 fs_m">
        <li class="bd_b lh_bar h_bar pl_m pr_m gl_arrow" data-forward="/user/quan_privacy/1">
            不让他（她）看我的朋友圈
        </li>
        <li class="bd_b lh_bar h_bar pl_m pr_m gl_arrow" data-forward="/user/quan_privacy/2">
            不看他（她）的朋友圈
        </li>
    </ul>
    <ul class="mt_l bd_t bg_fff pt_1 fs_m">
        <li class="bd_b lh_bar h_bar pl_m pr_m flex">
            <p class="flexitem">允许陌生人查看十张照片</p>
            <div class="cp_switch{can_see_some==1?' cp_switch_on':''}" sn-tap="this.update('can_see_some')"></div>
        </li>
    </ul>
</div>