<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main">
    <div class="ml_m mr_m mt_l flexitem flex uc_qa__search">
        <div class="icon-search sqr_s"></div>
        <input sn-model="keywords" type="text" class="flexitem fs_m" placeholder="搜索常见问题">
    </div>
    <ul class="mt_s pt_1 fs_m">
        <li class="bd_b mt_m bg_fff" sn-repeat="item in data|filter:contains(item.title,keywords)">
            <div class="bd_t pl_m pr_m lh_bar h_bar fs_l">{item.title}</div>
            <div class="pl_m pr_m lh_xs pb_m" sn-html={item.content}></div>
        </li>
    </ul>
</div>