<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main uc_remind">

    <div sn-repeat="service in data">
        <div class="mt_l ml_l">{service.name}</div>
        <ul class="mt_m bg_fff pt_1 fs_m">
            <li sn-repeat="item in service.group" class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/{item.business_id}">
                <img class="w_s" sn-src="{sl.thumbnail(item.business_pic)}" />
                <div class="con ml_l">
                    <p class="name">{item.business_name}</p>
                    <p class="state cl_999 fs_s mt_s">{item.switcher=='0000000000'?'关':'开'}</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="pd_m"></div>
</div>