<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main uc_remind">
    <div class="mt_l ml_l">移动服务</div>
    <ul class="mt_m bg_fff pt_1 fs_m">
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/heduohao">
            <div class="set-alert1"></div>
            <div class="con ml_l">
                <p class="name">和多号</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/huafei">
            <div class="set-alert2"></div>
            <div class="con ml_l">
                <p class="name">缴话费</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/liuliang">
            <div class="set-alert3"></div>
            <div class="con ml_l">
                <p class="name">流量直充</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
    </ul>
    <div class="mt_l ml_l">生活服务</div>
    <ul class="mt_m bg_fff pt_1 fs_m">
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/heduohao">
            <div class="set-alert4"></div>
            <div class="con ml_l">
                <p class="name">缴电费</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/huafei">
            <div class="set-alert5"></div>
            <div class="con ml_l">
                <p class="name">手机电影</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/liuliang">
            <div class="set-alert6"></div>
            <div class="con ml_l">
                <p class="name">预约挂号</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/liuliang">
            <div class="set-alert7"></div>
            <div class="con ml_l">
                <p class="name">社保查询</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
    </ul>
    <div class="mt_l ml_l">交通出行</div>
    <ul class="mt_m bg_fff pt_1 fs_m">
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/heduohao">
            <div class="set-alert8"></div>
            <div class="con ml_l">
                <p class="name">掌上公交</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/huafei">
            <div class="set-alert9"></div>
            <div class="con ml_l">
                <p class="name">车友助理</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
        <li class="bd_b h_l flex pl_m pr_m g_arrow" data-forward="/user/remind/liuliang">
            <div class="set-alert10"></div>
            <div class="con ml_l">
                <p class="name">违章查询</p>
                <p class="state cl_999 fs_s mt_s">关</p>
            </div>
        </li>
    </ul>
</div>