<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main pt_l">
    <ul class="fs_m bg_fff mb_l">
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">允许通知</p>
            <p class="mr_m cp_switch{switcher.charAt(0) === '1'?' cp_switch_on':''}" sn-tap="delegate.setSwitcher(0)"></p>
        </li>
    </ul>

    <ul class="pt_1 fs_m bg_fff bd_t" sn-if="switcher.charAt(0) === '1'">
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">在“提醒”中显示</p>
            <p class="mr_m cp_switch{switcher.charAt(0) === '1'&&switcher.charAt(1) === '1'?' cp_switch_on':''}" sn-tap="delegate.setSwitcher(1)"></p>
        </li>
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">在“通知中心”中显示</p>
            <p class="mr_m cp_switch{switcher.charAt(0) === '1'&&switcher.charAt(2) === '1'?' cp_switch_on':''}" sn-tap="delegate.setSwitcher(2)"></p>
        </li>
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">在“手机短信”中显示</p>
            <p class="mr_m cp_switch{switcher.charAt(0) === '1'&&switcher.charAt(3) === '1'?' cp_switch_on':''}" sn-tap="delegate.setSwitcher(3)"></p>
        </li>
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">声音</p>
            <p class="mr_m cp_switch{switcher.charAt(0) === '1'&&switcher.charAt(4) === '1'?' cp_switch_on':''}" sn-tap="delegate.setSwitcher(4)"></p>
        </li>
    </ul>
</div>