<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main pt_l">
    <ul class="fs_m bg_fff mb_l">
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">允许通知</p>
            <p class="mr_m cp_switch{setting.enable_push?' cp_switch_on':''}" sn-tap="setting.enable_push=!setting.enable_push"></p>
        </li>
    </ul>

    <ul class="pt_1 fs_m bg_fff bd_t" sn-if="setting.enable_push">
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">在“提醒”中显示</p>
            <p class="mr_m cp_switch{setting.enable_mcpush?' cp_switch_on':''}" sn-tap="setting.enable_mcpush=!setting.enable_mcpush"></p>
        </li>
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">在“通知中心”中显示</p>
            <p class="mr_m cp_switch{setting.enable_apppush?' cp_switch_on':''}" sn-tap="setting.enable_apppush=!setting.enable_apppush"></p>
        </li>
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">在“手机短信”中显示</p>
            <p class="mr_m cp_switch{setting.enable_smspush?' cp_switch_on':''}" sn-tap="setting.enable_smspush=!setting.enable_smspush"></p>
        </li>
        <li class="flex bd_tb lh_bar h_bar pl_m pr_m">
            <p class="flexitem">声音</p>
            <p class="mr_m cp_switch{setting.enable_pushsound?' cp_switch_on':''}" sn-tap="setting.enable_smspush=!setting.enable_pushsound"></p>
        </li>
    </ul>
</div>