<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
    <div class="head_right"><button sn-tap="this.save()">保存</button></div>
</header>
<div ref="main" class="main">
    <div class="mt_l bd_tb bg_fff flex h_bar" sn-if="type=='user_name'">
        <input type="text" sn-model="user_name" value="{user_name}" class="flexitem ml_m fs_m" />
        <div class="icon-x dock_r pd_m" sn-if="user_name" sn-tap="user_name=''"></div>
    </div>
    <div class="mt_l flex uc_set__sign" sn-if="type=='sign_text'">
        <textarea class="bg_fff flexitem" rows="7" value="{sign_text}" sn-model="sign_text"></textarea>
    </div>
    <ul class="mt_l bd_tb bg_fff uc_set__gender" sn-if="type=='gender'">
        <li class="h_bar lh_bar pl_m bd_b" sn-tap="gender=1">
            <i class="icon-right fl_r mr_m" sn-if="gender==1"></i> 男
        </li>
        <li class="h_bar lh_bar pl_m" sn-tap="gender=2">
            <i class="icon-right fl_r mr_m" sn-if="gender==2"></i> 女
        </li>
    </ul>
    <ul class="mt_l bd_tb bg_fff uc_set__gender" sn-if="type=='hometown'" sn-tap="this.selectCity()">
        <li class="h_bar lh_bar pl_m bd_b">
            <i class="fl_r mr_m">{country_name}</i> 国家
        </li>
        <li class="h_bar lh_bar pl_m">
            <i class="fl_r mr_m">{province_name}—{city_name}</i> 省市
        </li>
    </ul>
    <ul class="mt_l bd_tb bg_fff uc_set__gender" sn-if="type=='address'" sn-tap="this.selectCity()">
        <li class="h_bar lh_bar pl_m bd_b">
            <i class="fl_r mr_m">{country_name}</i> 国家
        </li>
        <li class="h_bar lh_bar pl_m">
            <i class="fl_r mr_m">{province_name}—{city_name}</i> 省市
        </li>
    </ul>
</div>