<header>
    <div class="head_back" sn-tap="this.back()"></div>
    <div class="head_title">{title}</div>
</header>
<div ref="main" class="main">
    <ul class="mt_l bg_fff pt_1 fs_m uc_settings__items">
        <li class="user-clock bd_b gl_arrow" data-forward="/user/remind">
            提醒设置
        </li>
        <li class="user-private bd_b gl_arrow" data-forward="/user/privacy">
            隐私设置
        </li>
        <li class="user-del bd_b" sn-tap="this.clearCache()">
            <span class="va_m">清除缓存</span>
        </li>
        <li class="user-new bd_b" sn-tap="this.update()">
            <span class="va_m">检测更新</span>
        </li>

        <li class="user-about bd_b gl_arrow" data-forward="/user/about">
            <span class="va_m">关于</span>
        </li>
        <li class="user-user bd_b" sn-tap="this.logout()">
            <span class="va_m">退出登录</span>
        </li>
    </ul>
</div>