<header class="white_header bottom_border">
    <div class="head_back" data-back="{back}"></div>
    <div class="head_title">{title}</div>
    <div class="head_right" sn-tap="this.useCoupon()">使用</div>
</header>
<div class="main uc_coupon">
    <div class="uc_coupon__get">
        <input type="text" sn-if="puttingCoupon" sn-model="code" placeholder="请输入券码" />
        <b class="btn" sn-tap="this.receiveCoupon()">{puttingCoupon?'兑换':'我要领券'}</b>
    </div>
    <div class="uc_coupon__tip" sn-display="{isShowToast}" style="display:none">
        <div class="{toastType=='error'?'icon-wrong-rem':'icon-right-rem'} icon_cm"></div>
        <div class="msg">{toastMsg?toastMsg:'兑换成功'}</div>
    </div>
    <div class="uc_coupon__overdue">优惠券可叠加使用
        <div data-forward="/news/coupon?from=/shop/useCoupon">使用规则</div>
    </div>
    <div class="uc_coupon__tab" sn-require="widget/tab" sn-data="{{items: ['可使用优惠券','不可使用优惠券' ]}}">
        <div>
            <ul class="uc_coupon__list">
                <li sn-repeat="item in data" class="icon-couponline {(item.VCA_VCT_ID == 4 ? 'free' : '') + (item.IsOverdue ? ' dis' : '')}" sn-tap="this.selectCoupon(item)">
                    <div class="{coupon.CSV_CODE.split(',').indexOf(item.CSV_CODE)!=-1?'radio checked':'radio'}"></div>
                    <div class="hd {item.VCA_VCT_ID == 4 ? 'l-free' : ''}">
                        <p class="price" sn-if="item.VCA_VCT_ID!=4">{util.currency(item.VCA_DEDUCT_AMOUNT,'')}</p>
                        <p class="type" sn-if="item.VCA_VCT_ID!=4">{item.VCA_VCT_ID==4?'免邮卡':item.VCA_VCT_ID==5?'现金券':'优惠券'}</p>
                    </div>
                    <div class="bd l-abs_card">
                        <p class="name">{item.VCA_VCT_ID==4?'免邮卡':(item.VCA_NAME.split(/\,|，/)[0]+'，')}</p>
                        <p class="prd" sn-if="{item.PRD_NAME&&item.VCA_VCT_ID!=4}">仅限“<span>{item.PRD_NAME}</span>”使用</p>
                        <p class="time">有效期:<br>{item.IsOverdue?'已过期':(util.formatDate(item.CSV_START_DT,'yyyy/MM/dd')+'-'+util.formatDate(item.CSV_END_DT,'yyyy/MM/dd'))}</p>
                    </div>
                </li>
            </ul>
            <div class="my_nodata ps_r" sn-if="{!data.length}" style="z-index:200">
                <div class="icon"></div>
                <div class="text">您目前还没有卡券哦</div>
            </div>
        </div>
        <ul class="uc_coupon__list">
            <li sn-repeat="item in cannotuse" class="icon-couponline {(item.VCA_VCT_ID == 4 ? 'free' : '') + ' dis'}">
                <div class="hd {item.VCA_VCT_ID == 4 ? 'l-free' : ''}">
                    <p class="price" sn-if="item.VCA_VCT_ID!=4">{util.currency(item.VCA_DEDUCT_AMOUNT,'')}</p>
                    <p class="type" sn-if="item.VCA_VCT_ID!=4">{item.VCA_VCT_ID==4?'免邮卡':item.VCA_VCT_ID==5?'现金券':'优惠券'}</p>
                </div>
                <div class="bd l-abs_card">
                    <p class="name">{item.VCA_VCT_ID==4?'免邮卡':(item.VCA_NAME.split(/\,|，/)[0]+'，')}</p>
                    <p class="prd" sn-if="{item.PRD_NAME&&item.VCA_VCT_ID!=4}">仅限“<span>{item.PRD_NAME}</span>”使用</p>
                    <p class="time">有效期:<br>{item.IsOverdue?'已过期':(util.formatDate(item.CSV_START_DT,'yyyy/MM/dd')+'-'+util.formatDate(item.CSV_END_DT,'yyyy/MM/dd'))}</p>
                </div>
            </li>
        </ul>
    </div>

</div>